{% extends _layout %}

{% block pageerrors %}
<div class="page-errors invalid">
    <div class="page-errors-layout">
        <div class="box">
            {%- apply spaceless -%}
            <div class="hb-errors">
                <ul class="hb-errors__global">
                {% for error in errors %}
                    <li class="error global"><span class="error__message">{{ error }}</span></li>
                {% endfor %}
                </ul>
            </div>
            {%- endapply -%}
        </div>
    </div>
</div>
{%- endblock pageerrors -%}

