%single-box-as-sheet {
    .page-main {
        @include sheet;
        margin: $base-spacing;

        @include media-query(lap-and-up) {
            max-width: 400px;
            margin: $base-spacing auto;
        }

        fieldset {
            border: none;
        }

        .control-group {
            margin-top: $base-spacing;
        }
    }
}

.honeybee-system_account-user-login,
.honeybee-system_account-user-logout,
.honeybee-system_account-user-reset_password,
.honeybee-system_account-user-set_password {
    @extend %single-box-as-sheet;

    form {
        legend {
            @include typography-headlines;
            width: 100%;
            padding-bottom: $small-spacing;
            border-bottom: 1px solid color(lines);
            margin-bottom: $base-spacing;
        }

        button {
            @extend %activity-emphasized-navigational;
        }
    }
}
