
.toc-box {
    position: fixed;
    top: 0;
    width: 50%;
    margin: 0 25% 0 25%;
    padding: 0;

    z-index: 10;
    background: color(white);

    h1 {
        margin-bottom: 0;
        font-size: 0.8rem;
        line-height: 1.6em;
        font-weight: 400;
        text-align: center;
        @include shadow-container;
    }
}

