// offcanvas menu on the left with user widget and main navigation

$menu-size: 20rem !default;

.menu {
    @include offcanvas('menu', 'bottom-left', 'left', $menu-size, 0.2s, 9000, 100);

    .menu__panel {
        background: color(white);
        box-shadow: 0 0 20px rgba(0,0,0,0.2);

        overflow: none;

        /* @todo Set palette colors */
        background-color: #626262;
    }

}

@keyframes MENU_BACKDROP {
    0%   { opacity: 0; display: block; }
    100% { opacity: 1; display: block; }
}

.menu__trigger:checked ~ .menu__backdrop {
    animation: MENU_BACKDROP 0.2s 1;
}

.menu__toggle {
    $icon-space: $font-size*1.5;

    @include button-emphasized-warning;
    // override button spacings
    &,
    &:focus,
    &:hover,
    &:active,
    &:disabled,
    &.disabled {
        margin: 0 $base-spacing $base-spacing/2 $base-spacing/2;
        padding-left: $base-spacing/2 + $icon-space;
        padding-right: $base-spacing/2;
    }

    // menu icon on the text side
    @include hb-icon-before(menu, color(emphasized-primary), false) {
        margin-left: -$icon-space;
    }

    position: fixed;

    width: auto;

    @include shadow-overlay;

    transition: width 0.2s ease-out;
}

.menu__panel {
    .menu__toggle {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
    }
}

.menu__trigger:checked ~ .menu__toggle {
    z-index: zindex(base, 1);
}

.menu__panel-layout {
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;

    > *:last-child::after {
        content: "";
        display: block;
        height: 4 * $base-spacing;
    }
}

.menu-box {
    //display: inline-block would result in an unwanted 24px margin
    display: block;
}
