// offcanvas menu on the left with user widget and main navigation

$menu-size: 20rem !default;

.menu {
    @include offcanvas('menu', 'bottom-left', 'left', $menu-size, 0.2s, 9000, 100);

    .menu__panel {
        background: color(white);
        box-shadow: 0 0 20px rgba(0,0,0,0.2);

        overflow: none;
    }

}

@keyframes MENU_BACKDROP {
    0%   { opacity: 0; display: block; }
    100% { opacity: 1; display: block; }
}

.menu__trigger:checked ~ .menu__backdrop {
    animation: MENU_BACKDROP 0.2s 1;
}

.menu__toggle-open {
    position: fixed;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: auto;
    margin: 0 $base-spacing $base-spacing/2 $base-spacing/2;
    @include shadow-overlay;

    transition: width 0.2s ease-out;

    .menu__toggle-button {
        $icon-space: $font-size*1.5;

        @include button-emphasized-warning {
            padding-left: $base-spacing/2 + $icon-space;
            padding-right: $base-spacing/2;
            width: 100%;
        }

        // menu icon on the text side
        @include hb-icon-pseudo-el( (icon-name: 'menu', color: color(emphasized-primary), hide-content: false) ) {
            margin-left: -$icon-space;
        }
    }
}

.menu__toggle-close {
    position: absolute;
    top: $base-spacing/2;
    right: $base-spacing/2;
    z-index: zindex(base, 1);
    margin: 0;
    width: $base-spacing*1.5;
    height: $base-spacing*1.5;

    .menu__toggle-button {
        $menu-toggle-background-color: rgba(color(white), .7);

        @include button-shadow-emphasized-navigational;
        border-radius: 50%;
        width: 100%;
        height: 100%;

        // colors
        color: color(blue);
        background-color: $menu-toggle-background-color;
        &:hover { background-color: darken($menu-toggle-background-color, 10%); }

        // icon
        @include hb-icon-pseudo-el(( icon-name: cross, size: 1.3 ));
    }
}

.menu__trigger:checked ~ .menu__toggle {
    z-index: zindex(base, 1);
}

.menu__panel-layout {
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    // spacing after navigation
    > *:last-child::after {
        content: "";
        display: block;
        height: 3 * $base-spacing;
    }
}

.menu-box {
    //display: inline-block would result in an unwanted 24px margin
    display: block;
}

.user-area-box {
    @extend %lap-and-up-1-of-1;
    @extend %palm-1-of-1;
}

.user-area {
    position: relative;
    width: 100%;
    height: 10em;
}

.user-area__background {
    width: inherit;
    height: inherit;
    background-color: color(lightgrey1);

    .user-area__background_tile {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        transition: opacity 1s ease-in-out;
        opacity: 0;

        &.active {
            opacity: 1;
        }
    }
}
