// offcanvas menu on the left with user widget and main navigation

$page-header-height: 60px !default;
$menu-size: 20rem !default;
$menu-toggle-open-size: $page-header-height !default;
$menu-toggle-transition-time: .3s !default;

.menu {
    @include offcanvas('menu', 'top-left', 'left', $menu-size, 0.2s, 9000, 100);

    .menu__panel {
        background: color(white);
        box-shadow: 0 0 20px rgba(0,0,0,0.2);

        overflow: none;
    }
}

@keyframes MENU_BACKDROP {
    0%   { opacity: 0; display: block; }
    100% { opacity: 1; display: block; }
}

.menu__trigger:checked ~ .menu__backdrop {
    animation: MENU_BACKDROP 0.2s 1;
}

.menu__toggle-open {
    position: absolute; // move with scroll
    width: $menu-toggle-open-size;
    height: $menu-toggle-open-size;
    display: inline-block;

    .menu__toggle-button {
        // layout
        width: 100%;
        height: 100%;

        // style
        color: color(navigational-secondary);
        background-color: color(white);
        border: 0;
        border-right-width: 1px;
        border-color: color(lines);
        border-style: solid;

        // menu icon on the text side
        @include hb-icon-pseudo-el(( icon-name: 'menu', size: 2));

        // animation
        transition-property: color, background-color, border;
        transition-duration: $menu-toggle-transition-time;
        transition-timing-function: ease-out;

        &:hover {
            background-color: color(navigational-secondary);
            color: color(white);
            border-color: color(navigational-highlight);
        }
    }
}

.menu__toggle-close {
    position: absolute;
    top: $base-spacing/2;
    right: $base-spacing/2;
    z-index: zindex(base, 1);
    margin: 0;
    width: $base-spacing*1.5;
    height: $base-spacing*1.5;

    .menu__toggle-button {
        $menu-toggle-background-color: rgba(color(white), .7);

        // style
        @include button-shadow-emphasized-navigational;
        color: color(blue);
        background-color: $menu-toggle-background-color;
        &:hover { background-color: darken($menu-toggle-background-color, 10%); }

        border-radius: 50%;
        width: 100%;
        height: 100%;

        // icon
        @include hb-icon-pseudo-el(( icon-name: cross, size: 1.3 ));
    }
}

.menu__trigger:checked ~ .menu__toggle {
    z-index: zindex(base, 1);
}

.menu__panel-layout {
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    // spacing after navigation
    > *:last-child::after {
        content: "";
        display: block;
        height: 3 * $base-spacing;
    }
}

.menu-box {
    //display: inline-block would result in an unwanted 24px margin
    display: block;
}






// user area
.user-area-box {
    @extend %lap-and-up-1-of-1;
    @extend %palm-1-of-1;
}

.user-area {
    position: relative;
    width: 100%;
    height: 10em;
}

.user-area__background {
    width: inherit;
    height: inherit;
    background-color: color(lightgrey1);

    .user-area__background_tile {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        transition: opacity 1s ease-in-out;
        opacity: 0;

        &.active {
            opacity: 1;
        }
    }
}
