.view-itemlist .sidebar {
    .pager-box,
    .sort-box {
        margin-top: $base-spacing;
    }

    @include media-query(lap-and-up) {
        .pager-box {
            display: none;
        }

        .sort-box {
            display: none;
        }
    }

    .pagination1 {
        margin-bottom: 0.5*$base-spacing;

        .pager__first_page,
        .pager__prev_page,
        .pager__next_page,
        .pager__last_page {
            display: none;
        }
    }
    .pagination2 {
        margin-bottom: $base-spacing;

        .pager__description,
        .pager__details {
            display: none;
        }
    }
}

