.controls {
    @include sheet;

    .pager {
        @include media-query(palm) {
            .pager__details {
                display: none;
            }
        }
    }

    @include media-query(lap-and-up) {
        .pager label {
            text-align: right;
        }
    }
}

.controls-top {
    margin-bottom: $base-spacing;

    @include media-query(lap-and-up) {
        .activities-box {
            display: none;
        }
    }

    @include media-query(palm) {
        .activities-box,
        .sort-box {
            display: none;
        }

        .pager-box {
            display: none;
        }
    }

    @include media-query(lap) {
        .sort-box > label {
            text-align: left;
        }
    }

    background-color: color(white-warm);
}

.controls-layout {
    .pager-box {
        @extend .u-5-of-12-desk;
        @extend .u-5-of-8-lap;
    }
    .sort-box {
        @extend .u-2-of-12-desk;
        @extend .u-3-of-8-lap;
        @extend .u-2-of-4-palm;
        text-align: right;
    }
    .search-box {
        @extend .u-5-of-12-desk;
    }
}

.controls-bottom {
    .controls-layout {
        @extend %layout--rev;
        text-align: right;
    }

    margin-top: $base-spacing;

    .pager__list {
        direction: ltr; //fix the rtl direction from the surrounding layout
    }
}

.activities-box {
    .activity-create_document {
        @include activity-underline;

        width: 100%;
    }
}

.search-box {
    @include media-query(portable) {
        margin-bottom: $base-spacing;
    }

    form {
        @include flexbox;
        @include flex-flow(row);
    }

    input[type=search] {
        @include flex-grow(1);
    }

    button[type=submit] {
        @include activity-navigational-highlight;
        @include flex-grow(0);

        max-width: 2 * $base-spacing;
        min-width: 2 * $base-spacing;
    }
}

.sort-dropdown {
    @extend %dropdown;

    display: inline-block;
    vertical-align: top;
}
