@import "view-template";

/* Glance style */

.hb-glance {
    overflow: auto;
    padding: $base-spacing;
    min-height: $base-spacing * 2.5;
}

// Default fields
.hb-glance__title {
    @include typography-headlines;
    display: inline-block;
}

.hb-glance__description {
    color: color(darkgrey2);
}

.hb-glance__image {
    float: left;
    margin-right: $base-spacing;
    max-height: $base-spacing * 10;
    max-width: $base-spacing * 10;
    border: 1px solid color(lines);
}

// Modifiers
.hb-glance--hidden { @include visuallyhidden; }

.hb-glance--remove_spacing {
    padding: 0;

    .hb-glance__title,
    .hb-glance__description {
        margin-top: $small-spacing;
    }
}
