.pager {
}

.pager__list {
    @extend %list-bare;
    @extend %pack;

    li {
        @extend %pack__item;

        vertical-align: top;
    }
}

.pager a {
    @include activity;
    @include activity-navigational;
    @include activity-underline;

    display: block;
}

.pager__details {
    width: 30%;
    min-width: 9em;

    form {
        input,
        button {
            display: inline-block;
        }

        input {
            width: 70%;
        }

        button {
            width: 30%;
            vertical-align: top;
        }
    }
}

.pager__details .pager__current_page {
    padding-left: 0.5*$base-spacing;
    padding-right: 0.5*$base-spacing;
}

%pager-button-background {
    background-size: auto $font-size;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -99999px;
}

.pager__first_page,
.pager__prev_page,
.pager__next_page,
.pager__last_page {
    a {
        @extend %pager-button-background;
    }
}

.pager__go {
    @extend %pager-button-background;
}

.pager__first_page a {
    background-image: url(binaries/icons/pager/skip_backward.svg);
}
.pager__prev_page a {
    background-image: url(binaries/icons/pager/fast_backward.svg);
}
.pager__go {
    background-image: url(binaries/icons/pager/play.svg);
}
.pager__next_page a {
    background-image: url(binaries/icons/pager/fast_forward.svg);
}
.pager__last_page a {
    background-image: url(binaries/icons/pager/skip_forward.svg);
}
