.page-errors:not(.invalid) {
    display: none;
}

.hb-errors,
.hb-errors__global,
.hb-errors__fields {
    background-color: color(background-blank);
}

.hb-errors > ul {
    margin-left: 0;
    margin-bottom: 0.35em;
}

.fixed-to-top .hb-errors__global {
    display: none;
}

.fixed-to-top {
    @include shadow-overlay;
}

.hb-errors .error__message::before {
    @include hb-icon(warning);
    padding-right: 0.35em;
}

.error {
    display: block;
    margin-top: 0.35em;
    color: color(destructive-primary);

    label {
        color: color(destructive-primary);
    }
}

.error-bubble {
    float: right;
    display: inline-block;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    color: color(white);
    background: color(destructive-primary);
}
