{%- block field -%} {# this block exists for whitespace control #}
<a
    href="{{ attribute_value }}"
    class="{{ css|default('') }}"
    {% if open_in_blank %}
    target="__blank"
    {% endif %}
>{{ attribute_value }}</a>
{%- endblock field -%}
