.theme-preview__colors {
    .color-list {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            position: relative;
            display: inline-block;
            width: 7*$base-spacing;

            line-height: $base-spacing;
            padding-top: 3*$base-spacing;

            margin: 0.5*$base-spacing;

            border: 1px solid black;

            font-size: 0.7em;
            text-align: center;

            background-color: white;
            color: black;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: $base-spacing;

                border-bottom: 1px solid black;
            }
        }
    }

    .text::before { background-color: color(text); }
    .text::after { content: ' – #{color(text)}'; }
    .background::before { background-color: color(background); }
    .background::after { content: ' – #{color(background)}'; }

    .neutral::before { background-color: color(neutral); }
    .neutral::after { content: ' – #{color(neutral)}'; }
    .neutral-shadow::before { background-color: color(neutral, shadow); }
    .neutral-shadow::after { content: ' – #{color(neutral, shadow)}'; }
    .neutral-neutral::before { background-color: color(neutral, neutral); }
    .neutral-neutral::after { content: ' – #{color(neutral, neutral)}'; }
    .neutral-medium::before { background-color: color(neutral, medium); }
    .neutral-medium::after { content: ' – #{color(neutral, medium)}'; }
    .neutral-light::before { background-color: color(neutral, light); }
    .neutral-light::after { content: ' – #{color(neutral, light)}'; }
    .neutral-super-light::before { background-color: color(neutral, super-light); }
    .neutral-super-light::after { content: ' – #{color(neutral, super-light)}'; }
    .neutral-warm-light::before { background-color: color(neutral, warm-light); }
    .neutral-warm-light::after { content: ' – #{color(neutral, warm-light)}'; }


    .action::before { background-color: color(action); }
    .action::after { content: ' – #{color(action)}'; }
    .action-hover::before { background-color: color(action, hover); }
    .action-hover::after { content: ' – #{color(action, hover)}'; }
    .action-shadow::before { background-color: color(action, shadow); }
    .action-shadow::after { content: ' – #{color(action, shadow)}'; }

    .positive::before { background-color: color(positive); }
    .positive::after { content: ' – #{color(positive)}'; }
    .positive-hover::before { background-color: color(positive, hover); }
    .positive-hover::after { content: ' – #{color(positive, hover)}'; }
    .positive-shadow::before { background-color: color(positive, shadow); }
    .positive-shadow::after { content: ' – #{color(positive, shadow)}'; }

    .warning::before { background-color: color(warning); }
    .warning::after { content: ' – #{color(warning)}'; }
    .warning-hover::before { background-color: color(warning, hover); }
    .warning-hover::after { content: ' – #{color(warning, hover)}'; }
    .warning-shadow::before { background-color: color(warning, shadow); }
    .warning-shadow::after { content: ' – #{color(warning, shadow)}'; }

    .destructive::before { background-color: color(destructive); }
    .destructive::after { content: ' – #{color(destructive)}'; }
    .destructive-hover::before { background-color: color(destructive, hover); }
    .destructive-hover::after { content: ' – #{color(destructive, hover)}'; }
    .destructive-shadow::before { background-color: color(destructive, shadow); }
    .destructive-shadow::after { content: ' – #{color(destructive, shadow)}'; }
}

.theme-preview__typography {
    .interactive {
        @include typography-interactive();
    }

    .headline-1 { @extend h1; }
    .headline-2 { @extend h2; }
    .headline-3 { @extend h3; }

}
