$breadcrumbs-line-height: $base-spacing !default;
$breadcrumbs-items-color: color(lightgrey2) !default;
$breadcrumbs-arrow-color: color(lines) !default;
$breadcrumbs-arrow-width: $small-spacing !default;
$breadcrumbs-arrow-border-width: 2px;

.breadcrumbs {
    @include activitylist;
    white-space: nowrap;

    background-color: $breadcrumbs-items-color;
    color: color(darkgrey2);

    @include media-query(palm) {
        text-align: center;
        // overflow-x: scroll;
    }
}

.breadcrumbs__item {
    // style
    padding: $small-spacing;

    // layout
    display: inline-block;
    position: relative;
    padding-left: $small-spacing + $breadcrumbs-arrow-width + $breadcrumbs-arrow-border-width;    // compensate arrow
}

// separator
.breadcrumbs__item:after,
.breadcrumbs__item:before {
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);

    // arrow
    border-top: $breadcrumbs-line-height solid color(clear);
    border-bottom: $breadcrumbs-line-height solid color(clear);
    border-left: $breadcrumbs-arrow-width solid $breadcrumbs-items-color;
}

.breadcrumbs__item:after {
    @include zindex(base);
}

.breadcrumbs__item:last-child:after,
.breadcrumbs__item:last-child:before {
    display: none;
    margin: 0;
}

.breadcrumbs__item:before {
    margin-left: $breadcrumbs-arrow-border-width;
    border-color: color(clear);
    border-left-color: $breadcrumbs-arrow-color;    // arrow border color
    @include zindex(base, -1);
}

// hover effect
// .breadcrumbs__item:hover {
//     $breadcrumbs-items-color-hover: darken($breadcrumbs-items-color, 20%);
//
//     & { background-color: $breadcrumbs-items-color-hover; }
//     &:after { border-left-color: $breadcrumbs-items-color-hover }
// }
