{%- block list_filters -%}
<div class="hb-list-filters {{ css }}">
    <div class="hb-list-filters__content">
        <ul class="hb-list-filters__list">
            {%- for filter_id, rendered_filter in rendered_list_filters -%}
                {{ rendered_filter|raw }}
            {%- endfor -%}
        </ul>
    </div>
</div>
{%- endblock -%}