{%- set widget_classes = widget_classes|default('jsb_ jsb_Honeybee_Core/ui/list-filter/DateRangePickerListFilter') -%}

{%- extends 'html/list_filter/default_list_filter.twig' -%}
{%- block filter_input %}
<div class="hb-list-filter__control">
    {{ rendered_date_range|raw }}
</div>
{% endblock -%}