@mixin shadow-container() {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.30);

    @content;
}

@mixin shadow-overlay() {
    box-shadow: 0 0 10px rgba(color(black), 0.3);

    @content;
}

@mixin shadow-offcanvas {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}