* {
    box-sizing: border-box;
}

html {
    background: color(grey2);
    color: color(darkgrey1);
    hyphens: auto;
}

body {
    font-family: $font-family;
    font-weight: $font-weight;
    line-height: $base-spacing;
}

a {
    color: color(blue);
}

button {
    border-style: none; // reset

    // <button> element looks alike buttons (lib/object) but doesn't support
    // button type (navigational, positive, warning, etc.) when it is not an activity
    &,
    &.normal {
        @include inuit-btn;
        background-color: transparent;

        @include button-shadow-normal-navigational;
    }
    &.emphasized {
        @include button-emphasized-navigational;
    }
}

label {
    cursor: pointer;
}

[hidden] {
   @include visuallyhidden;
}

.disabled {
    opacity: 1.0; //reset inuits disabled opacity
}

.sheet {
    @extend %sheet;
    margin-bottom: $base-spacing;
}

.activities-list {
    ul {
        @include activitylist;
        @include activitylist--vertical;
    }
}

.info-box, .primary-activities-box, .notifications-box {
    //display: inline-block would result in an unwanted margin
    display: block;
}


// brand

.brand-box .brand{
    padding-left: $base-spacing;

    // make space for absolute positioned menu button, if present
    .menu-box ~ & {
        padding-left: $base-spacing + $menu-toggle-open-size;
    }
}

.brand {
    // style
    padding-top: $small-spacing;
    padding-right: $base-spacing;
    padding-bottom: $small-spacing;

    // layout
    height: $page-header-height;

    h1 {
        // style
        font-size: $font-size * 1.285; // 18px
        color: color(darkgrey2);
        font-weight: normal;

        // layout
        margin: 0;
        transform: translateY(50%);
    }

    a {
        color: inherit;
        display: inline-block;
        text-decoration: none;

        // // logo
        // $brand-logo-width: 26px;
        // background: url('binaries/icons/honeybee-logo.png');
        // background-repeat: no-repeat;
        // padding-left: $brand-logo-width + $small-spacing; // logo width + padding
    }

    span {
        padding: 0;
    }
}

.brand__entity {
    display: inline-block;
    &:first-letter { text-transform: capitalize; }
    font-weight: bold;
}

.brand__title {
    margin-left: 0.25em;
}

// page components
.page-main {
    padding: $base-spacing;
}

.page-footer {
    @include sheet;
}

.page-header {
    background-color: color(white);
}

// subheader

.page-subheader {
    // padding: $small-spacing $base-spacing;
    border-width: 1px 0px;
    border-style: solid;
    border-color: color(grey2);
    border-bottom-color: color(grey1);
    background-color: color(lightgrey2);
}

.subheader-context-box {
    @extend %lap-and-up-3-of-5;
}

.subheader-activities-box {
    @extend %lap-and-up-2-of-5;
}

.subheader-activities {
    @include media-query(lap-and-up) {
        margin-right: $base-spacing;
        text-align: right;
    }
}

.page-title {
    @include typography-default;
    color: color(darkgrey2);

    @include media-query(palm) {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: $font-size * 1.3;
        padding-top: 0;
    }
}
