@mixin typography-default() {
    font-size: $font-size;
}

@mixin typography-interactive() {
    box-sizing: border-box;
    font-weight: 400;
    line-height: 2 * $base-spacing - 2 * $border-thick;

    @content;
}

@mixin typography-headlines($multiplier: 1.285) {
    font-size: $font-size * $multiplier; // 18px

    @include media-query(lap-and-up) {
        font-weight: bold;
    }
}