// all colors available for the current theme
@import "colors";
@import "lib/helpers/helpers.zindex";

// default font, font size and spacing
$font-size: 14px;
$font-family: Helvetica, Arial, sans-serif;
$font-weight: 400;
$base-spacing: 1.42*$font-size; //20px
$small-spacing: $base-spacing/2; //10px
$border-thick: 0.125*$base-spacing; //2.5px
$border-thin: 1px;

// should inuit classes and mixins be prefixed?
$inuit-namespace: null !default;

// high-level base settings for inuit
$inuit-base-font-size: $font-size !default;
$inuit-base-line-height: $base-spacing !default;
$inuit-base-spacing-unit: $base-spacing !default;
$inuit-base-line-height: 1.6*$base-spacing !default;
$inuit-base-text-color: map-get($colors, grey-shadow) !default;
$inuit-base-background-color: map-get($colors, white) !default;

// our breakpoint definitions for use with @media-query
$breakpoints: (
    "palm"          "screen and (max-width: 719px)",
    "lap"           "screen and (min-width: 720px) and (max-width: 1199px)",
    "lap-and-up"    "screen and (min-width: 720px)",
    "portable"      "screen and (max-width: 1199px)",
    "desk"          "screen and (min-width: 1200px)",
    "desk-wide"     "screen and (min-width: 1680px)",
    "retina"        "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
) !default;