$hb-activity-group-splitbutton--styled-toggle: true !default;

/*
    - basically primary-activities are a "list" of items
    - when under "primary-content" they floats
        - as a flyout upward on Mobile (with a modifier)
        - as a list on Desk
*/

.primary-activities-list {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;

    ul { @include activitylist; }

    // Show as flyout dropping down
    @include media-query(palm) {
        @include flyout("primary-activities-list");
        @include flyout--popover("primary-activities-list");
        @include flyout--default-inline("primary-activities-list");
    }

    // list of activities
    @include media-query(lap-and-up) {
        .activity.activity {
            @include activity-emphasized;
        }
    }

    // activity map
    @include media-query(palm) {
        // merge adjacent border with toggle
        &:not(.primary-activities-list--empty) {

            .primary-activities-list__default .activity.activity {
                @include button-states {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                };
            }
        }
    }

    @at-root {
        .primary-activities-list__default {
            display: inline-block;

            .activity.activity {
                @include activity-emphasized;
            }
            border-radius: $buttons-border-radius;
        }

        .primary-activities-list__trigger {
            @include media-query(lap-and-up) {
                display: none;
            }

            &:focus ~ .primary-activities-list__toggle {
                @include button-default-focus;
            }
        }

        .primary-activities-list__toggle {
            width: $base-spacing;
            display: inline-block;

            @if $hb-activity-group-splitbutton--styled-toggle {
                .primary-activities-list.navigational & {
                    @include button-colors-emphasized-navigational;
                }

                .primary-activities-list[data-default-activity-rels~="promote"] &,
                .primary-activities-list[data-default-activity-rels~="edit_resource"] &,
                .primary-activities-list[data-default-activity-rels~="save_resource"] &,
                .primary-activities-list[data-default-activity-rels~="create_resource"] &,
                .primary-activities-list.mutating & {
                    @include button-colors-emphasized-mutating;
                }

                .primary-activities-list.positive & {
                    @include button-colors-emphasized-positive;
                }

                .primary-activities-list[data-default-activity-rels~="demote"] &,
                .primary-activities-list.warning & {
                    @include button-colors-emphasized-warning;
                }

                .primary-activities-list[data-default-activity-rels~="delete"] &,
                .primary-activities-list.destructive & {
                    @include button-colors-emphasized-destructive;
                }
            }

            @include button-emphasized-mutating {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: 0;
                padding-left: 0;
                padding-right: 0;
            }

            @include media-query(lap-and-up) {
                display: none;
            }
        }

        .primary-activities-list__trigger:checked ~ .primary-activities-list__toggle {
            @if $hb-activity-group-splitbutton--styled-toggle {
                .primary-activities-list.navigational & {
                    @include button-colors-emphasized-navigational-active;
                }

                .primary-activities-list[data-default-activity-rels~="promote"] &,
                .primary-activities-list[data-default-activity-rels~="edit_resource"] &,
                .primary-activities-list[data-default-activity-rels~="save_resource"] &,
                .primary-activities-list[data-default-activity-rels~="create_resource"] &,
                .primary-activities-list.mutating & {
                    @include button-colors-emphasized-mutating-active;
                }

                .primary-activities-list.positive & {
                    @include button-colors-emphasized-positive-active;
                }

                .primary-activities-list[data-default-activity-rels~="demote"] &,
                .primary-activities-list.warning & {
                    @include button-colors-emphasized-warning-active;
                }

                .primary-activities-list[data-default-activity-rels~="delete"] &,
                .primary-activities-list.destructive & {
                    @include button-colors-emphasized-destructive-active;
                }
            } @else {
                @include button-colors-emphasized-mutating-active();
            }
            // mutating shadow - assume shadowing is the same for all button types
            @include button-shadow-emphasized-mutating-active();
        }

        .primary-activities-list__toggle-icon {
            @include hb-icon-pseudo-el(chevron-small-down);
            color: color(emphasized-primary);
            margin: auto; // align to center
        }

        .primary-activities-list__more {
            @include media-query(palm) {
                background-color: color(white);

                ul { @include activitylist--vertical; }
            }

            @include media-query(lap-and-up) {
                display: inline-block;

                li {
                    display: inline-block;
                    margin-left: $base-spacing/2;
                }
            }

            .activity.activity {
                // more activities custom style
                @include button-states {
                    border-radius: 0;
                    border-width: 0;
                }
                &:hover:not(:active) {
                    background-color: color(lightgrey2);
                    box-shadow: none;
                }
            }
        }
    }

    &.primary-activities-list--empty {
        .primary-activities-list__toggle { display: none !important; }
    }
}

// Primary content activities
.primary-content {
    .primary-activities {
        @include zindex("overlay");
        position: fixed;
        bottom: 0;
        right: 0;
        margin: $base-spacing/2;

        .primary-activities-list__default {
            @include shadow-overlay;
        }

        @include media-query(lap-and-up) {
            li {
                @include shadow-overlay;
                border-radius: $buttons-border-radius;
            }
        }
    }

    .primary-activities-list {
        // Show as flyout dropping up
        @include media-query(palm) {
            @include flyout--popover-up("primary-activities-list");
            @include flyout--popover-inverse("primary-activities-list");
        }
    }
}
