// Generic
.primary-activities {

    .activity-map {
        background-color: color(transparent);
    }

    .activity {
        @include button-emphasized-mutating;
        width: 100%;
    }

    .activities-list__more li {
        display: none;
        margin: 0;
        margin-bottom: $base-spacing/2;

        &:first-child {
            display: block;
        }
    }

    @include media-query(lap-and-up) {
        @include zindex("overlay");

        position: fixed;
        bottom: $base-spacing/2;;
        right: $base-spacing/2;

        .activities-list__more li {
            display: inline-block;
            vertical-align: top;
            margin-right: $base-spacing/2;
            margin-bottom: 0;

            &:first-child {
                display: inline-block;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

// Primary content activities
.primary-content {
    .primary-activities {
        // display: none;

        @include media-query(lap-and-up) {
            display: block;
            position: fixed;
            bottom: 0px;
            right: 0px;
            margin: $base-spacing/2;
            .activity {
                @include shadow-overlay;
            }
        }
    }
}

// Sidebar activities
.sidebar {
    .primary-activities {
        .activities-list__more li {
            display: block;
            margin-bottom: 0.5*$base-spacing;
        }

        @include media-query(lap-and-up) {
            position: relative;
            right: 0;
        }
    }
}

