/*
    - basically primary-activities are a "list" of items
    - when under "primary-content" they floats
        - as a flyout upward on Mobile (with a modifier)
        - as a list on Desk
*/

.primary-activities-list {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;

    ul { @include activitylist; }

    // Show as flyout dropping down
    @include media-query(palm) {
        @include flyout("primary-activities-list");
        @include flyout--popover("primary-activities-list");
        @include flyout--default-inline("primary-activities-list");
    }

    @include media-query(lap-and-up) {
        .activity { @include button-emphasized-mutating; }
    }

    @at-root {
        .primary-activities-list__default {
            display: inline-block;

            @include media-query(palm) {
                .activity {
                    @include button-emphasized-mutating {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
            }
        }

        .primary-activities-list__trigger {
            @include media-query(lap-and-up) {
                display: none;      // @todo visuallyhidden would be better?
            }
        }

        .primary-activities-list__toggle {
            width: $base-spacing;
            display: inline-block;

            @include button-emphasized-mutating {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: 0;
            }

            @include media-query(lap-and-up) {
                display: none;
            }
        }

        .primary-activities-list__trigger:checked ~ .primary-activities-list__toggle {
            @include button-colors-emphasized-mutating-active();
            @include button-shadow-emphasized-mutating-active();
        }

        .primary-activities-list__toggle-icon {
            @include hb-icon-pseudo-el(chevron-small-down, color(emphasized-primary), false);
            // hide original content
            display: block;
            text-indent: -9999em;
            text-overflow: clip;
            overflow: hidden;
            white-space: nowrap;
            speak: none;
        }

        .primary-activities-list__more {
            @include media-query(palm) {
                background-color: color(white);
                margin-top: 5px;

                ul { @include activitylist--vertical; }
            }

            @include media-query(lap-and-up) {
                display: inline-block;

                li {
                    display: inline-block;
                    margin-left: $base-spacing/2;
                }
            }
        }
    }
}

// Primary content activities
.primary-content {
    .primary-activities {
        @include zindex("overlay");
        position: fixed;
        bottom: 0;
        right: 0;
        margin: $base-spacing/2;

        .primary-activities-list__default {
            .activity {
                @include shadow-overlay;
            }
        }

        @include media-query(lap-and-up) {
            li {
                @include shadow-overlay;
                border-radius: $buttons-border-radius;
            }
        }
    }

    .primary-activities-list {
        // Show as flyout dropping up
        @include media-query(palm) {
            @include flyout--popover-up("primary-activities-list");
            @include flyout--popover-inverse("primary-activities-list");
        }
    }

    .primary-activities-list__toggle-icon {
        @include hb-icon-pseudo-el(chevron-small-up, "auto", false);
    }

    .primary-activities-list__more {
        margin-top: 0;
        margin-bottom: 5px;
    }
}

// Modifiers
.primary-activities-list--empty {
    .primary-activities-list__toggle {

        @include button-emphasized-mutating {
            @include button-colors-emphasized-mutating-disabled;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 0;
        }

        @include media-query(lap-and-up) {
            display: none;
        }
    }
    .primary-activities-list__toggle-icon {
        &,
        &:before {
            color: color(text-secondary);
        }
    }
}
