- extends _layout

- block menu
- endblock

- block pageinfo
- endblock

- block primary
    - embed 'html/layout/grid/1_boxes.twig' with {'name':'authentication', 'box1':'login'}
        - block box1
            %form.login-form(action=ro.gen(null) method="post")
                %fieldset
                    - if errors is defined
                        %ul.errors
                            - for error in errors
                                %li.error
                                    %span = error
                    %legend = _('reset_password', 'honeybee.system_account.user.ui')
                    .control-group
                        %label(for="user_input") = _('username', 'honeybee.system_account.user.ui')
                        %input#user_input(type="text" name="username" placeholder="clark.kent")
                    .control-group
                        %b oder
                    .control-group
                        %label(for="email_input") = _('Email','honeybee.system_account.user.ui')
                        %input#email_input(type="text" name="email" placeholder=_('clark@kent.corp', 'honeybee.system_account.user.ui'))
                    .control-group
                        %button(type="submit") = _('reset_password', 'honeybee.system_account.user.ui')
            %a(href=ro.gen('index'))
                = _('to_homepage', 'honeybee.system_account.user.ui')
