.htmllinklist {
    @extend %list-bare;
}

.htmllinklist__item {
    margin-bottom: 3px;
    user-select: none;
}

.htmllink-handle {
    display: none;
}

.htmllinklist.use-handle .htmllink-handle {
    display: inline-block;
    cursor: move;
}
.htmllinklist:not(.use-handle) .htmllink-popup-preview {
    cursor: move;
}

.htmllinklist .sortable-placeholder {
    @include input-textual-shape-default;
    @include input-textual-colors-default;
    border: 1px dashed color(black);
}

.htmllinklist .sortable-dragging {
}

.htmllink {
}

.htmllink-add {
    @include button-emphasized-navigational;
}

.htmllink-controls {
    position: relative;
}

.htmllink-controls .htmllink-remove {
    @include button-emphasized-navigational;

    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-width: 2em;
    min-height: 41px;

    &,
    &:focus,
    &:hover,
    &:active,
    &:disabled,
    &.disabled {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: 0;
        margin: 1px;
    }

    &,
    &:focus,
    &:hover,
    &:active {
        color: color(warning-primary);
    }
    &:disabled {
        color: color(text-secondary);
    }

    &:disabled {
        opacity: 0.3;
    }
}

.htmllink-controls .htmllink-popup-trigger {
    @include button-emphasized-navigational;

    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2em;
    min-width: 67.5px;
    min-height: 41px;

    &,
    &:focus,
    &:hover,
    &:active,
    &:disabled,
    &.disabled {
        border-radius: 0;
        border: 0;
        margin: 1px;
    }

    &:focus {
        z-index: 2;
    }
}

.htmllink-popup-preview {
    @include input-textual-shape-default;
    @include input-textual-colors-default;
    width: 100%;
    padding-right: 6em;
    text-align: left;
}

.htmllink-popup-preview--readonly {
    @include input-textual-colors-disabled;
}

.htmllink-popup-preview--invalid {
    @include input-textual-colors-invalid;
}

.mfp-content .htmllink-popup {
    display: block;
}

.htmllink-popup {
    display: none;
    background: #fff;
    padding: 20px 30px;
    text-align: left;
    max-width: 650px;
    margin: 20px auto;
    position: relative;
}
.jsb_ .htmllink-popup {
    display: block;
}

.jsb_ .htmllink-controls,
.jsb_ .htmllink-popup__buttons,
.jsb_ .htmllink-popup h2 {
    display: none;
}

.htmllink-popup__inputs {
    @extend %list-bare;
    margin-bottom: 1em;

    li {
        margin-bottom: 1em;
    }
}

.htmllink-popup__buttons {
    @extend %list-bare;
    @extend %pack;

    li {
        @extend %pack__item;
        text-align: center;
    }
}

.htmllink-popup__accept {
    @include button-emphasized-mutating;
}

.htmllink-popup__reset {
    @include button-normal-warning;
}

.htmllink-popup__cancel {
    @include button-emphasized-navigational;
}

.htmllink-popup__clear {
    @include button-emphasized-warning;
}

