@mixin dropdown($name: "dropdown", $toggle-width: 1em) {
    @include flyout("#{$name}");
    @include flyout--default-inline("#{$name}");

    display: inline-block;
    position: relative;
    white-space: nowrap;

    @include media-query(lap-and-up) {
        @include flyout--popover("#{$name}");
    }
    @include media-query(palm) {
        display: flex;
        flex-flow: row wrap;
        .#{$name}__toggle {
            flex-grow: 1;
        }
        .#{$name}__default ~ .#{$name}__toggle {
            flex-grow: 0;
        }
        .#{$name}__default {
            flex-grow: 1;
            text-align: center;
            padding-left: $toggle-width;    // keep the text centered
            .activity {
                width: 100%;
            }
        }
        .#{$name}__more {
            width: 100%;
        }
    }


    @at-root {
        .#{$name}__more {
            left: auto;
            right: 0;
            top: 100%;
            margin-top: 5px;
            min-width: 8em;

            @include media-query(palm) {
                width: auto;
                margin-right: -2*$base-spacing;
            }

            background-color: color(white);
        }

        .#{$name}__toggle {
            width: auto;
        }
        .#{$name}__toggle-icon {
            @include hb-icon-before(chevron-small-down, color(navigational-primary)) {
                padding-left: 0.5em;
            };
            width: $toggle-width;
            float: right;
        }
        .#{$name}__default ~ .#{$name}__toggle {
            float: none;
        }

        .#{$name}__more {
            ul {
                @include activitylist;
                @include activitylist--vertical;
            }

            .activity {
                width: 100%;
                text-align: center;
            }
        }

        .#{$name}__trigger:focus {
            ~ .#{$name}__default,
            ~ .#{$name}__toggle {
            }
        }
    }
}

@mixin dropdown-normal($name: "dropdown-normal") {
    @include dropdown($name);
    &:hover {@include button-shadow-normal-navigational-hover;}
    border-radius: 3px;

    @at-root {
        .#{$name}__default .activity {
            @include button-shape-normal-navigational-default();
            @include button-colors-normal-navigational-default();
            padding-right: 0.5em;
            vertical-align: top;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            &:hover { @include button-colors-normal-navigational-hover;}
            &:hover { @include button-colors-normal-navigational-focus;}
            &:active {
                @include button-colors-normal-navigational-active;
                @include button-shadow-normal-navigational-active;
            }
        }

        .#{$name}__toggle {
            @include button-shape-normal-navigational-default();
            @include button-colors-normal-navigational-default();
            &:hover { @include button-colors-normal-navigational-hover;}
            &:hover { @include button-colors-normal-navigational-focus;}
            &:active {
                @include button-colors-normal-navigational-active;
                @include button-shadow-normal-navigational-active;
            }

            vertical-align: top;
        }

        // when a default choice is present
        .#{$name}__default ~ .#{$name}__toggle {
            padding-left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 1px solid transparent;
        }

        .#{$name}__toggle-icon {
            padding-left: 0.5em;
        }


        .#{$name}__trigger:checked ~ .#{$name}__toggle {
            @include button-colors-normal-navigational-active();
            @include button-shadow-normal-navigational-active();
        }

        &:hover {
            .#{$name}__default ~ .#{$name}__toggle {
                border-left-color: color(lines);
            }
        }
    }
}

@mixin dropdown-emphasized($name: "dropdown-emphasized") {
    @include dropdown($name);
    border-radius: 3px;
    @at-root {
        .#{$name}__default .activity.activity {
            @include button-shape-emphasized-navigational-default();
            @include button-colors-emphasized-navigational-default();
            padding-right: 0.5em;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right-width: 0;
            &:hover { @include button-colors-emphasized-navigational-hover;}
            &:focus { @include button-colors-emphasized-navigational-focus;}
            &:active {
                @include button-colors-emphasized-navigational-active;
                @include button-shadow-emphasized-navigational-active;
            }
        }

        .#{$name}__toggle {
            @include button-shape-emphasized-navigational-default();
            @include button-colors-emphasized-navigational-default();
            &:hover { @include button-colors-emphasized-navigational-hover;}
            &:focus { @include button-colors-emphasized-navigational-focus;}
            &:active {
                @include button-colors-emphasized-navigational-active;
                @include button-shadow-emphasized-navigational-active;
            }
        }

        .#{$name}__default ~ .#{$name}__toggle {
            padding-left: 0;
        }

        .#{$name}__toggle-icon {
            padding-left: 0.5em;
        }

        .#{$name}__default + .#{$name}__toggle {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .#{$name}__trigger:checked ~ .#{$name}__toggle {
            @include button-colors-emphasized-navigational-active();
            @include button-shadow-emphasized-navigational-active();
        }

    }

}

