// Base dropdown/splitbutton

$dropdown-toggle-width: 1em !default;
$buttons-base-padding: 0.5em !default;    // spacing defined in buttons lib/object

@mixin init-dropdown($name: "dropdown") {
    @include flyout("#{$name}");
    @include flyout--default-inline("#{$name}");

    display: inline-flex;
    vertical-align: top;
    flex-items: align-start;    // just on mobile?

    @include media-query(lap-and-up) {
        @include flyout--popover("#{$name}");
    }

    @include media-query(palm) {
        display: flex;
        flex-flow: row wrap;    // generic style?
    }

    @at-root {
        .#{$name}__more {
            left: auto;
            right: 0;
            top: 100%;
            min-width: 8em;

            @include media-query(palm) {
                width: 100%;
            }

            ul {
                @include activitylist;
                @include activitylist--vertical;
            }

            .activity {
                width: 100%;
                text-align: center;
            }
        }

        .#{$name}__default {
            .activity {
                width: 100%;
            }
        }

        .#{$name}__toggle {
            width: auto;
            flex-grow: 0;
        }

        .#{$name}__toggle-icon {
            float: right;
        }

        .#{$name}__trigger:focus {
            ~ .#{$name}__toggle {
            }
        }

        @content;
    }
}

@mixin base-dropdown($name: "dropdown") {
    @include init-dropdown($name);

    @include media-query(palm) {
        .#{$name}__toggle {
            width: 100%;
        }
    }

    &.#{$name}--empty {
        .#{$name}__toggle-icon { display: none !important; }
    }
}

@mixin base-splitbutton($name: "splitbutton") {
    @include init-dropdown($name);
    display: inline-flex; // inline-block doesn't keep splitbutton on a single line
    white-space: nowrap;

    @include media-query(palm) {
        .#{$name}__toggle {
            flex-grow: 0;
        }
        .#{$name}__default {
            flex-grow: 1;
            text-align: center;
            .activity {
                // width: 100%;
                // compensate splitbutton + default button padding sizes, to center text
                padding-left: $dropdown-toggle-width + $buttons-base-padding;
                padding-right: 0;
            }
        }
    }

    &.#{$name}--empty {
        .#{$name}__toggle { display: none !important; }
    }

    @at-root {
        .#{$name}__toggle {
            float: none;
        }
        .#{$name}__trigger:focus {
            ~ .#{$name}__default {
            }
        }

        @content;
    }
}