// Styles
@mixin init-dropdown-style($name: "dropdown-normal") {
    border-radius: $buttons-border-radius;

    &:hover {
        @include button-shadow-normal-navigational-hover;
    }

    @at-root {
        .#{$name}__toggle-icon {
            padding-left: $buttons-base-padding;
        }

        // keep activities styled as 'normal'
        .#{$name}__more .activity.activity {
            // @todo Decrease specificity (removing the normal/emphasized class from markup)
            // and use the following new button mixins instead of manual binding
            //
            // .#{$name}__more .activity {
            //     @include activity-binding("normal");
            // }

            &.navigational,
            &[rel~="edit"] {
                @include button-colors-normal-mutating;
            }
            &.mutating,
            &[rel~="promote"],
            &[rel~="save_resource"],
            &[rel~="create_resource"] {
                @include button-colors-normal-mutating;
            }
            &.positive {
                @include button-colors-normal-positive;
            }
            &.warning,
            &[rel~="demote"] {
                @include button-colors-normal-warning;
            }
            &.destructive,
            &[rel~="delete"] {
                @include button-colors-normal-destructive;
            }
            border-radius: 0;
        }

        // merge adjacent border with toggle
        &:not(.#{$name}--empty) {
            .#{$name}__default .activity.activity.activity {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        // .#{$name}__trigger:checked ~ .#{$name}__toggle {
        // }

        // &.#{$name}--empty {
        //     .#{$name}__toggle {
        //     }
        // }
    }
}

@mixin base-dropdown-style-normal($name: "dropdown-normal") {
    @include init-dropdown-style($name);
    &:hover {@include button-shadow-normal-navigational-hover;}

    @at-root {
        .#{$name}__toggle {
            @include button-normal-navigational;
            vertical-align: top;
        }

        .#{$name}__trigger:checked ~ .#{$name}__toggle {
            @include button-colors-normal-navigational-active();
            @include button-shadow-normal-navigational-active();
        }

        .#{$name}__more {
            background-color: color(white);
            border-top: 1px solid color(lines);

            @include media-query(palm) {
                background-color: opacify(color(white), 0.9);
            }
        }

        @content;
    }
}

@mixin base-dropdown-style-emphasized($name: "dropdown-emphasized") {
    @include init-dropdown-style($name);

    @at-root {
        .#{$name}__toggle {
            @include button-emphasized-navigational;
        }

        .#{$name}__trigger:checked ~ .#{$name}__toggle {
            @include button-colors-emphasized-navigational-active();
            @include button-shadow-emphasized-navigational-active();
        }

        .#{$name}__more {
            background-color: color(white);
        }

        @content;
    }
}

@mixin base-splitbutton-style-normal($name: "dropdown-normal") {
    @include base-dropdown-style-normal($name) {

        // Additional @at-root content
        .#{$name}__default .activity.activity {
            @include activity-normal {
                vertical-align: top; // fix spacing caused from display:inline-block, inherited from button
            };
        }

        .#{$name}__toggle {
            @include button-states {
                padding-left: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left-color: color(transparent);
            }
        }
    };
}

@mixin base-splitbutton-style-emphasized($name: "dropdown-emphasized") {
    @include base-dropdown-style-emphasized($name) {

        // Additional @at-root content
        .#{$name}__default .activity.activity {
            @include activity-emphasized;
        }

        .#{$name}__toggle {
            @include button-states {
                padding-left: 0;
                border-left-width: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        &:hover {
            .#{$name}__toggle {
                border-left-color: color(lines);
            }
        }
    };
}