$buttons-base-padding: 0.5em !default;    // spacing defined in buttons lib/object

// Styles
@mixin init-dropdown-icon-style($name: "dropdown-normal") {
    // toggle button paddings (except when toggle is disabled)
    .#{$name}:not(.#{$name}--empty) .#{$name}__toggle {
        @include button-states {
            padding-right: $buttons-base-padding/2;
        }
    }
    .#{$name}__toggle-icon {
        @include hb-icon-pseudo-el(chevron-small-down) {
            padding-left: $buttons-base-padding/2;
        };
    }
}

@mixin init-dropdown-style($name: "dropdown-normal") {
    border-radius: $buttons-border-radius;

    &:hover {
        @include button-shadow-normal-navigational-hover;
    }

    @at-root {
        .#{$name}__default {
            border-radius: $buttons-border-radius;

            .activity.activity {
                vertical-align: top; // remove 1px from inline-block
            }
        }

        .#{$name}__more {
            margin-top: 5px;
            @include media-query(palm) {
                margin-top: 0;
            }

            .activity.activity {
                @include button-shape-emphasized;
                @include button-states {
                    border-radius: 0;
                }
                // remove gaps with container
                &:first-child { border-top-width: 0; }
                &:last-child { border-bottom-width: 0; }
            }
        }

        // merge adjacent border with toggle
        &:not(.#{$name}--empty) {
            .#{$name}__default .activity.activity.activity {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        // .#{$name}__trigger:checked ~ .#{$name}__toggle {
        // }

        // &.#{$name}--empty {
        //     .#{$name}__toggle {
        //     }
        // }
    }
}

@mixin base-dropdown-style-normal($name: "dropdown-normal") {
    @include init-dropdown-style($name);
    &:hover {@include button-shadow-normal-navigational-hover;}

    @at-root {
        .#{$name}__toggle {
            @include button-normal-navigational;
            vertical-align: top;
        }
        // override paddings and icon
        @include init-dropdown-icon-style($name);

        .#{$name}__trigger:checked ~ .#{$name}__toggle {
            @include button-colors-normal-navigational-active();
            @include button-shadow-normal-navigational-active();
        }

        .#{$name}__more {
            background-color: color(white);

            @include media-query(palm) {
                border-top: 1px solid color(lines);
                background-color: opacify(color(white), 0.9);
            }
        }

        @content;
    }
}

@mixin base-dropdown-style-emphasized($name: "dropdown-emphasized") {
    @include init-dropdown-style($name);

    @at-root {
        .#{$name}__toggle {
            @include button-emphasized-navigational;
        }
        // override paddings and icon
        @include init-dropdown-icon-style($name);

        // icon size
        .#{$name}__toggle-icon:before { font-size: 1.3rem; }

        .#{$name}__trigger:checked ~ .#{$name}__toggle {
            @include button-colors-emphasized-navigational-active();
            @include button-shadow-emphasized-navigational-active();
        }

        .#{$name}__more {
            background-color: color(white);
        }

        @content;
    }
}

@mixin base-splitbutton-style-normal($name: "dropdown-normal") {
    @include base-dropdown-style-normal($name) {

        // Additional @at-root content
        .#{$name}__toggle {
            @include button-states {
                padding-left: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left-color: color(transparent);
            }
        }
    };
}

@mixin base-splitbutton-style-emphasized($name: "dropdown-emphasized") {
    @include base-dropdown-style-emphasized($name) {

        // Additional @at-root content
        .#{$name}__default .activity.activity {
            @include activity-emphasized;
        }

        .#{$name}__toggle {
            @include button-states {
                padding-left: 0;
                border-left-width: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        // icon size
        .#{$name}__toggle-icon:before { font-size: 1.3rem; }

        &:hover {
            .#{$name}__toggle {
                border-left-color: color(lines);
            }
        }
    };
}