$hb-activity-group-splitbutton--styled-toggle: true !default;

$buttons-base-padding: 0.5em !default;    // spacing defined in buttons lib/object

// Styles
@mixin init-dropdown-icon-style($name: "dropdown-normal") {
    // toggle button paddings (except when toggle is disabled)
    .#{$name}:not(.#{$name}--empty) .#{$name}__toggle {
        @include button-states {
            padding-right: $buttons-base-padding/2;
        }
    }
    .#{$name}__toggle-icon {
        @include hb-icon-pseudo-el(chevron-small-down) {
            padding-left: $buttons-base-padding/2;
        };
    }
}

@mixin init-dropdown-style($name: "dropdown-normal") {
    border-radius: $buttons-border-radius;

    &:hover {
        @include button-shadow-normal-navigational-hover;
    }

    @at-root {
        .#{$name}__default {        // @todo move into splitbutton. Dropdown doesn't use it
            border-radius: $buttons-border-radius;

            .activity.activity {
                vertical-align: top; // remove 1px from inline-block
            }
        }

        .#{$name}__more {
            margin-top: 5px;
            @include media-query(palm) {
                margin-top: 0;
            }

            .activity.activity {
                @include button-shape-emphasized;

                // more activities custom style
                @include button-states {
                    border-radius: 0;
                    border-width: 0;
                }
                &:hover:not(:active) {
                    background-color: color(lightgrey2);
                    box-shadow: none;
                }
            }
        }

        // merge adjacent border with toggle
        &:not(.#{$name}--empty) {
            .#{$name}__default .activity.activity.activity {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        // toggle focus
        .#{$name}__trigger:focus ~ .#{$name}__toggle {
            @include button-shadow-normal-navigational-focus;
        }

        // .#{$name}__trigger:checked ~ .#{$name}__toggle {
        // }

        // &.#{$name}--empty {
        //     .#{$name}__toggle {
        //     }
        // }
    }
}

@mixin base-dropdown-style-normal($name: "dropdown-normal") {
    @include init-dropdown-style($name);
    &:hover {@include button-shadow-normal-navigational-hover;}

    @at-root {
        .#{$name}__toggle {
            @include button-normal-navigational;
            vertical-align: top;
        }
        // override paddings and icon
        @include init-dropdown-icon-style($name);

        .#{$name}__trigger:checked ~ .#{$name}__toggle {
            @include button-colors-normal-navigational-active();
            @include button-shadow-normal-navigational-active();
        }

        .#{$name}__toggle {
            .#{$name}.navigational & { @include button-colors-normal-navigational; }
            .#{$name}.mutating & { @include button-colors-normal-mutating; }
            .#{$name}.positive & { @include button-colors-normal-positive; }
            .#{$name}.warning & { @include button-colors-normal-warning; }
            .#{$name}.destructive & { @include button-colors-normal-destructive; }
        }

        .#{$name}__more {
            background-color: color(white);

            @include media-query(palm) {
                border-top: 1px solid color(lines);
                background-color: opacify(color(white), 0.9);
            }
        }

        @content;
    }
}

@mixin base-dropdown-style-emphasized($name: "dropdown-emphasized") {
    @include init-dropdown-style($name);

    @at-root {
        .#{$name}__toggle {
            @include button-emphasized-navigational;
        }
        // override paddings and icon
        @include init-dropdown-icon-style($name);

        // icon size
        .#{$name}__toggle-icon:before { font-size: 1.3rem; }

        .#{$name}__trigger:checked ~ .#{$name}__toggle {
            @include button-colors-emphasized-navigational-active();
            @include button-shadow-emphasized-navigational-active();
        }

        .#{$name}__toggle {
            .#{$name}.navigational & { @include button-colors-emphasized-navigational; }
            .#{$name}.mutating & { @include button-colors-emphasized-mutating; }
            .#{$name}.positive & { @include button-colors-emphasized-positive; }
            .#{$name}.warning & { @include button-colors-emphasized-warning; }
            .#{$name}.destructive & { @include button-colors-emphasized-destructive; }
        }

        .#{$name}__more {
            background-color: color(white);
        }

        // toggle focus
        .#{$name}__trigger:focus ~ .#{$name}__toggle {
            @include button-shadow-emphasized-navigational-focus;
        }

        @content;
    }
}

@mixin base-splitbutton-style-normal($name: "splitbutton-normal") {
    @include base-dropdown-style-normal($name) {

        // Additional @at-root content
        .#{$name}__toggle {
            @if $hb-activity-group-splitbutton--styled-toggle {
                .#{$name}.navigational & {
                    @include button-colors-normal-navigational;
                }

                .#{$name}[data-default-activity-rels~="promote"],
                .#{$name}[data-default-activity-rels~="edit_resource"],
                .#{$name}[data-default-activity-rels~="save_resource"],
                .#{$name}[data-default-activity-rels~="create_resource"],
                .#{$name}.mutating & {
                    @include button-colors-normal-mutating;
                }

                .#{$name}.positive & {
                    @include button-colors-normal-positive;
                }

                .#{$name}[data-default-activity-rels~="demote"] &,
                .#{$name}.warning & {
                    @include button-colors-normal-warning;
                }

                .#{$name}[data-default-activity-rels~="delete"] &,
                .#{$name}.destructive & {
                    @include button-colors-normal-destructive;
                }
            }

            // good looking default+toggle merging
            @include button-states {
                padding-left: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left-color: color(transparent);
            }
        }
    };
}

@mixin base-splitbutton-style-emphasized($name: "splitbutton-emphasized") {
    @include base-dropdown-style-emphasized($name) {

        // Additional @at-root content
        .#{$name}__default .activity.activity {
            @include activity-emphasized;
        }

        .#{$name}__toggle {
            @if $hb-activity-group-splitbutton--styled-toggle {
                .#{$name}.navigational & {
                    @include button-colors-emphasized-navigational;
                }

                .#{$name}[data-default-activity-rels~="promote"] &,
                .#{$name}[data-default-activity-rels~="edit_resource"] &,
                .#{$name}[data-default-activity-rels~="save_resource"] &,
                .#{$name}[data-default-activity-rels~="create_resource"] &,
                .#{$name}.mutating & {
                    @include button-colors-emphasized-mutating;
                }

                .#{$name}.positive & {
                    @include button-colors-emphasized-positive;
                }

                .#{$name}[data-default-activity-rels~="demote"] &,
                .#{$name}.warning & {
                    @include button-colors-emphasized-warning;
                }

                .#{$name}[data-default-activity-rels~="delete"] &,
                .#{$name}.destructive & {
                    @include button-colors-emphasized-destructive;
                }
            }

            // good looking default+toggle merging
            @include button-states {
                padding-left: 0;
                border-left-width: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        // toggle focus
        .#{$name}__trigger:focus ~ .#{$name}__toggle {
            @include button-shadow-emphasized-navigational-focus;
        }

        // icon size
        .#{$name}__toggle-icon:before { font-size: 1.3rem; }

        &:hover {
            .#{$name}__toggle {
                border-left-color: color(lines);
            }
        }
    };
}