.subheader-activities {

    @include media-query(palm) {
        text-align: center;
        padding-top: $base-spacing/2;
    }

    // subheader activities has just one item by default
    .base-dropdown__toggle {
        display: none;
    }
}