.subheader-activities {

    @include media-query(palm) {
        text-align: center;
    }

    .activities-list__more li {
        display: none;

        &:first-child {
            display: block;
        }

        &:last-child {
            margin-bottom: $base-spacing;
        }
    }

    @include media-query(lap-and-up) {
        @include shadow-overlay;
        @include zindex("overlay");

        position: fixed;
        bottom: 0;
        right: 130px;

        .activities-list__more li {
            display: inline-block;

            &:first-child {
                display: inline-block;
            }
        }
    }

    // subheader activities has just one item by default
    .base-dropdown__toggle {
        display: none;
    }
}