.input-radiobutton,
.input-checkbox {
    $color: color(grey-neutral);

    margin-top: $base-spacing;

    &:first-child {
        margin-top: 0;
    }

    input {
        @include visuallyhidden;
    }

    .input-proxy {
        position: relative;
        width: $base-spacing;
        height: $base-spacing;

        margin-right: 0.5 * $base-spacing;

        border: 1px solid $color;

        border-top-width: 3px;

        &::after {
            content: "";
            display: none;
            position: absolute;
            $margin: 0.25 * $base-spacing;
            top: $margin - 2px;
            left: $margin;
            bottom: $margin;
            right: $margin;

            background-color: color(black);
        }
    }

    input:checked ~ .input-proxy::after {
        display: block;
    }

    input:focus ~ .input-proxy {
        border-color: color(blue);
    }

    input:active ~ .input-proxy {
        border-color: color(blue);
        &::after {
            display: block;
            background-color: color(grey-neutral);
        }
    }

    input:disabled ~ label {
        color: color(grey-neutral);
    }

    label {
        display: inline-block;
        width: auto;
        vertical-align: middle;

        color: color(black);
    }
}

.input-radiobutton {
    .input-proxy {
        border-radius: 50%;
        &::after {
            border-radius: 50%;
        }
    }
}

