<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations
    xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0"
    xmlns="http://agavi.org/agavi/config/parts/settings/1.0">
    <ae:configuration>
        <settings prefix="honeybee-system_account-user.">
            <setting name="type">honeybee-system_account-user</setting>
            <setting name="standard.type">honeybee-system_account-user-standard</setting>
        </settings>
    </ae:configuration>
</ae:configurations>
