{% extends _layout %}

{% block primary %}
    <p class="invalid">{{ _message }}</p>
    <ul>
        {% for error in errors %}
        <li class="invalid">{{ error }}
        {% endfor %}
    </ul>
{%- endblock -%}
