.selectize-control {
    .selectize-input,
    .selectize-dropdown .option,
    .selectize-dropdown .create {
        @include input-text();
        @include input-text-colors();
    }

    .selectize-input {
        > input {
            @include strip-box;
            @include strip-background;
        }

        &.invalid, &:invalid {
            @include input-text-colors((
                shadow: map-get($colors, red),
                shadow-focus: map-get($colors, red),
            ));
        }

        .item,
        input {
            display: inline-block;
        }

        .item {
            margin-right: 0.5*$base-spacing;
            line-height: 1em;
            padding: 0.5em;
            background-color: color(grey-warm-light);
        }

        .remove {
            display: inline-block;
            width: $base-spacing;
            text-align: center;
            padding-left: 0.5 * $base-spacing;
            text-decoration: none;
        }
    }

    .selectize-dropdown {
        @include zindex(popover);

        @include media-query(desk) {
            position: absolute;
        }

        .option {
            border-top-width: 0;
        }

        .active,
        .option:hover {
            background-color: color(grey-warm-light);
        }
    }

    .selectize-dropdown-content {
        max-height: 200px;
        overflow-y: auto;

        border: 1px solid color(grey-warm-light);
    }
}
