.hb-panel {
    margin: 0 2px 20px 2px;
    @include shadow-panels;
}

.hb-panel__header {
    padding: $base-spacing;
    background-color: color(lightgrey3);
    border-width: 0 0 1px 0;
    border-color: color(grey2);
    border-style: solid;
}

.hb-panel__title {
    @include typography-headlines;
    color: color(darkgrey1);
    margin: 0;
}

.hb-panel__description {
    margin: 0 5px 0 0;
    color: color(darkgrey2);
}

.hb-panel__content {
    padding: $base-spacing;
    background-color: color(lightgrey2);
}

.hb-panel__header--hidden {
    > .hb-panel__header {
        display: none;
    }
}

.hb-panel__title--hidden {
    > .hb-panel__header {
        .hb-panel__title {
            display: none;
        }
    }
}

.hb-panel__description--hidden {
    > .hb-panel__header {
        .hb-panel__description {
            display: none;
        }
    }
}

.hb-panel--hidden {
    background-color: transparent;
    border: 0;
    margin: 0;
    box-shadow: none;

    > .hb-panel__header {
        display: none;
    }

    > .hb-panel__content {
        padding: 0;
        margin: 0;
        box-shadow: none;
        background-color: color(transparent);
    }
}
