{%- block breadcrumbs -%}
<ul class="breadcrumbs">
    {% for crumb in _breadcrumbs %}
        <li class="breadcrumbs__item">{{ crumb|raw }}
    {% endfor %}
    <li class="breadcrumbs__item page__title"><span>{{ _breadcrumbs_title }}</span>
</ul>
{%- endblock -%}