<div class="derp">
    <input type="checkbox" class="derp__trigger" id="derp1"/>
    <div class="derp__default">
        <a class="action" href="javascript:void">derp block popover</a>
    </div><!--
    --><label class="action highlight derp__toggle" for="derp1">toggle</label>
    <div class="derp__more">
        <ul class="list">
            <li><a class="action mutating">Mutating</a></li>
            <li><a class="action">Default</a></li>
            <li><a class="action positive">Positive</a></li>
            <li><a class="action destructive">Destructive</a></li>
        </ul>
    </div>
</div>

<div class="derp--fit">
    <input type="checkbox" class="derp__trigger" id="derp2"/>
    <div class="derp__default">
        <a class="action" href="javascript:void">derp inline popover</a>
    </div><!--
    --><label class="action highlight derp__toggle" for="derp2">+</label>
    <div class="derp__more">
        <ul class="list">
            <li><a class="action mutating">Mutating</a></li>
            <li><a class="action">Default</a></li>
            <li><a class="action positive">Positive</a></li>
            <li><a class="action destructive">Destructive</a></li>
        </ul>
    </div>
</div>

<div class="derp--extend">
    <input type="checkbox" class="derp__trigger" id="derp3"/>
    <div class="derp__default">
        <a class="action" href="javascript:void">derp inline</a>
    </div><!--
    --><label class="action highlight derp__toggle" for="derp3">+</label>
    <div class="derp__more">
        <ul class="list">
            <li><a class="action mutating">Mutating</a></li>
            <li><a class="action">Default</a></li>
            <li><a class="action positive">Positive</a></li>
            <li><a class="action destructive">Destructive</a></li>
        </ul>
    </div>
</div>

<div class="derp--upwards">
    <input type="checkbox" class="derp__trigger" id="derp4"/>
    <div class="derp__default">
        <a class="action" href="javascript:void">derp upwards</a>
    </div><!--
    --><label class="action highlight derp__toggle" for="derp4">+</label>
    <div class="derp__more">
        <ul class="list">
            <li><a class="action mutating">Mutating</a></li>
            <li><a class="action">Default</a></li>
            <li><a class="action positive">Positive</a></li>
            <li><a class="action destructive">Destructive</a></li>
        </ul>
    </div>
</div>

<div class="derp--dropdown">
    <input type="checkbox" class="derp__trigger" id="derp5"/>
    <label class="action highlight derp__toggle" for="derp5">derp dropdown</label>
    <div class="derp__more">
        <ul class="list">
            <li><a class="action mutating">Mutating</a></li>
            <li><a class="action">Default</a></li>
            <li><a class="action positive">Positive</a></li>
            <li><a class="action destructive">Destructive</a></li>
        </ul>
    </div>
</div>
</div>
