{% block subheader_activities %}<!--
    -->{%- if _rendered_subheader_activities is defined and _rendered_subheader_activities is not empty -%}
    <div class="subheader-activities-box">
        <div class="subheader-activities">
            {{ _rendered_subheader_activities|raw }}
        </div>
    </div>
    {%- endif -%}<!-- .subheader-activites-box
-->{% endblock subheader_activities %}

{%- block pagesubheader -%}
<div class="page-subheader-layout">
    <div class="subheader-context-box">

        {% include 'html/ui/breadcrumbs.twig' %}

    </div><!-- .subheader-title-box
-->{{ block('subheader_activities') }}
</div>
{%- endblock pagesubheader -%}