{%- block pagefooter -%}
<footer class="page-footer" role="contentinfo">
    <div class="footer-layout">
        <div class="copyright-box">
            <div>{{ ac('core.app_name') | default('Honeybee') }} &#169; {{ "now"|date('Y') }} <a href="https://www.berlinonline.net">BerlinOnline</a></div>
        </div>
    </div>
</footer>
{%- endblock pagefooter -%}
