{%- block pagesubheader -%}
<div class="page-subheader-layout">
    <div class="subheader-title-box">
        <span class="page-title">{{ _page_title }}</span>
    </div><!-- .subheader-title-box
-->{{ block('subheader_activities') }}
</div>
{%- endblock pagesubheader -%}