{%- block pageerrors -%}
<div class="page-subheader-layout">
    <div class="subheader-context-box">
        <ul class="breadcrumb">
            {% for crumb in _breadcrumbs %}
                <li class="breadcrumb__item">{{ crumb|raw }}
            {% endfor %}
            <li class="breadcrumb__item page__title"><span>{{ _breadcrumb_title }}</span>
        </ul>

    </div>
    {%- block pageerrors_activities -%}
        {%- if _rendered_subheader_activities is defined and _rendered_subheader_activities is not empty -%}
            <div class="subheader-activities-box">
                <div class="subheader-activities">
                    {{ _rendered_subheader_activities|raw }}
                </div>
            </div>
        {%- endif -%}
    {%- endblock pageerrors_activities -%}
</div>
{%- endblock pageerrors -%}
