- extends _layout

- block menu
- endblock

- block pageinfo
- endblock

- block primary
    - embed 'html/layout/grid/1_boxes.twig' with {'name':'authentication', 'box1':'setpassword'}
        - block box1
            %p
                = _('Passwort wurde erfolgreich gesetzt.', 'honeybee.system_account.user.ui')
            %a(href=ro.gen('index'))
                = _('to_homepage', 'honeybee.system_account.user.ui')
