- extends _layout

- block menu
- endblock

- block pageinfo
- endblock

- block primary
    - embed 'html/layout/grid/1_boxes.twig' with {'name':'authentication', 'box1':'setpassword'}
        - block box1
            %p There were errors:
            - if errors is defined
                %ul.errors
                    - for error in errors
                        %li.error
                            %span = error
            %a(href=ro.gen('index'))
                = _('to_homepage', 'honeybee.system_account.user.ui')
