- extends _layout

- block menu
- endblock

- block pageinfo
- endblock

- block primary
    - embed 'html/layout/grid/1_boxes.twig' with {'name':'authentication', 'box1':'setpassword'}
        - block box1
            / <input(type="hidden" value="{{ password_meter_options|json_encode }}" id="password_meter_options" />
            - if errors is defined
                %ul.errors
                    - for error in errors
                        %li.error
                            %span = error

            / actual form for entering the desired password
            %form.form-password(action=ro.gen(NULL) method="post")
                %input(type="hidden" value=token  name="token")
                %fieldset
                    %legend = _('set_password', 'honeybee.system_account.user.ui')
                    .control-group
                        %label(for="user_password") = _('password','honeybee.system_account.user.ui')
                        .controls
                            %label(for="user_password")
                            %input#user_password.input-password(type="password" name="password")
                            %span.hb-icon-checkbox-checked
                    .control-group
                        %label(for="user_password_repeat") = _('repeat_password','honeybee.system_account.user.ui')
                        .controls
                            %label(for="user_password_repeat")
                            %input#user_password_repeat.input-password-repeat(type="password" name="password_repeat")
                            %span.hb-icon-checkbox-checked
                    .control-group
                        %button.btn-set-pwd(type="submit") = _('set_password','honeybee.system_account.user.ui')

            - include 'PasswordMeterDisplay.haml'
            %a(href=ro.gen('index'))
                = _('to_homepage', 'honeybee.system_account.user.ui')
