- extends _layout

- block menu
- endblock

- block pageinfo
- endblock

- block primary
    - embed 'html/layout/grid/1_boxes.twig' with {'name':'authentication', 'box1':'setpassword'}
        - block box1
            / <input(type="hidden" value="{{ password_meter_options|json_encode }}" id="password_meter_options" />
            %form.form-password(action=ro.gen(NULL) method="post")
                %input(type="hidden" value=token  name="token")
                %fieldset
                    %legend = _('set_password', 'honeybee.system_account.user.ui')
                    .control-group
                        %label(for="user_password") = _('password', 'honeybee.system_account.user.ui')
                        %input#user_input(type="password" name="password")
                        %ul.errors
                    .control-group
                        %label(for="user_password_repeat") = _('repeat_password', 'honeybee.system_account.user.ui')
                        %input#user_input(type="password" name="password_repeat")
                        %ul.errors
                    .control-group
                        %button.btn-set-pwd(type="submit" rel="set_password") = _('set_password','honeybee.system_account.user.ui')

            - include 'PasswordMeterDisplay.haml'
            %a(href=ro.gen('index'))
                = _('to_homepage', 'honeybee.system_account.user.ui')
