$workflow_state_fieldname: "workflow_state" !default;

@mixin listitems-view() {

    .hb-itemlist {

        color: color(darkgrey2);

        .hb-field__label {
            font-size: 90%;
            color: color(grey);

            @include media-query (palm) {
                &:after {
                    content:':';
                }
            }
        }

        .hb-itemlist__titles {
            background-color: color(panel-header-background);
            color: color(darkgrey1);
        }

        .hb-itemlist__title {
            font-weight: 700;
            padding: $base-spacing;
        }

        @include media-query(palm) {
            box-shadow: none;

            .hb-item {
                @include frame(color(lightgrey2));
                padding: $base-spacing 0 0 0;
            }

            .hb-field {
                padding-left: $base-spacing;
                padding-right: $base-spacing;
            }

            // Custom splitbutton actions
            .activity-map { background-color: color(lightgrey1); }

            .base-dropdown__default {
                &:hover     { background-color: color(grey2); }
                .activity   {
                    padding-top: $base-spacing/2;
                    padding-bottom: $base-spacing/2;
                }
            }

            .base-dropdown__more {
                background-color: color(background-heavy);
                margin-top: 0;

                li {
                    margin: 0 $base-spacing;
                    border-bottom: 1px solid color(lines);

                    &:last-child { border-bottom: 0; }

                    // override button styles
                    .activity {
                        &,
                        &:hover,
                        &:active,
                        &:focus  {
                            padding-top: $base-spacing/2;
                            padding-bottom: $base-spacing/2;
                        }
                    }
                }
            }
        }

        @include media-query(lap-and-up) {
            @include frame(color(lightgrey2));

            .hb-field[data-hb-field-name="#{$workflow_state_fieldname}"] {
                width: percentage(2/12);
            }

            .hb-actions {
                width: percentage(2/12);
                padding-right: $base-spacing;
                text-align: right;

                // keep button aligned when no additional activity is present
                .base-dropdown--empty {
                    .base-dropdown__toggle {
                        display: inline-flex;
                        border: 0;

                        .base-dropdown__toggle-icon {
                            visibility: hidden;
                        }
                    }

                    .base-dropdown__more {
                        display: none;
                    }
                }
            }

            .hb-actions__content {
                padding: 1px 10px 1px 1px;
            }

            .hb-itemlist__title-actions {
                @include visuallyhidden;
            }
        }
    }

    @content;
}
