@mixin listitems-controls() {

    .controls {
        @include media-query(desk) {
            // merge control panels into a unique one; from 'desk' breakpoint up
            @include sheet;

            margin-bottom: $base-spacing;

            .sort__description,
            .pager__description {
                margin-left: auto;
                text-align: center;
            }
        }

        @include media-query(palm) {
            .pager__total {
                display: none;
            }
        }

        .sort__content .sort__description,
        .pager__content > .pager__description {
            text-align: left;
            width: auto;
            float: left;
            padding-right: $base-spacing;
            padding-left: 0.5em;
        }

        .sort__control {
            // vertical align
            @include media-query(lap) {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .pager__description {
            display: none;
        }

        .pager__list {
            height: 100%;
            width: 100%;

            .pager__list li {
                height: 100%;
                border-left: 1px solid color(lines);
            }
        }
    }

    .controls-top {
        @include media-query(portable) {
            // under 'desk' breakpoint display as multiple panels
            .sort__content, .pager__content, .search__content {
                @include sheet;
            }
        }

        // panels with same height when side by side
        .sort__content, .pager__content {
            height: $font-size * 5.5;

            @include media-query(desk) {
                height: auto;
            }
            @include media-query(palm) {
                height: auto;
            }
        }

        @include media-query(portable) {
            .sort__content, .pager__content, .search-box {
                margin-bottom: $base-spacing;
            }
        }

        @include media-query(palm) {
            .sort-box,
            .pager-box {
                display: none;
            }
        }
    }

    .controls-bottom {
        @include sheet;
        margin-top: $base-spacing;

        .controls-layout {
            @extend %layout--rev;
            text-align: right;
        }

        .pager__list {
            direction: ltr; //fix the rtl direction from the surrounding layout
        }
    }

    .controls-layout {

        @extend .layout--middle;

        .search-box {
            @extend .u-1-of-1-portable;
            @extend .u-6-of-12-desk;
        }
        .sort-box {
            @extend .u-1-of-1-palm;
            @extend .u-3-of-8-lap-and-up;
            @extend .u-2-of-12-desk;
        }
        .pager-box {
            @extend .u-1-of-1-palm;
            @extend .u-5-of-8-lap-and-up;
            @extend .u-4-of-12-desk;
        }
    }

    .search-box {
        form {
            @include flexbox;
            @include flex-flow(row);
        }

        input[type=search] {
            @include flex-grow(1);

            @include media-query(palm) {
                margin-right: $small-spacing;
            }
            @include media-query(lap-and-up) {
                margin-right: $base-spacing;
            }
        }

        .activity-search {
            @include button-emphasized-navigational {
                @include flex-grow(0);
                overflow: visible;
            };
        }

        .search-description {
            display: none;
        }
    }

    @content;
}