@mixin modifyitem-view() {
    .hb-validation-messages {
        display: none;
        margin-bottom: $base-spacing;

        &.invalid, &:invalid {
            display: block;
        }

        ul {
            margin-left: $base-spacing;
        }

        li {
            color: map-get($colors, red);
        }
    }

    ul.errors {
        margin: 0;
    }

    .hb-modifyitem-wrapper {

    }

    .hb-modifyitem-wrapper__header {
        margin: 0;
        padding: 0 $base-spacing 0 $base-spacing;
    }

    .hb-modifyitem-wrapper__content {
        padding: $base-spacing;
    }

    .hb-row {
        @extend %layout;
    }

    .hb-cell {
        @extend %layout__item;
        @extend %lap-and-up-1-of-2;
        @extend %desk-wide-1-of-3;
    }

    /**
        embed/reference styles start here
        @todo move to a dedicated component files
    */
    .hb-field__embedded-entity-list,
    .hb-field__entity-reference-list {
        margin-bottom: 0;

        &.jsb_ {
            > .hb-field__content {
                padding-top: 0;

                .hb-embed-type-selector {
                    display: none;
                }
            }
        }

        .not-displayed {
            display: none;
        }

        .highlight {
            background: white;
        }

        .hb-entity-list {
            list-style: none;
            margin: 0;
            padding: 0;

            .hb-embed-item {
                position: relative;
                padding-top: 0;
                padding-bottom: 0;
                margin-bottom: $base-spacing;

                .hb-cell {
                    @extend %layout__item;
                    @extend %lap-and-up-1-of-1;
                    margin-bottom: 0;
                }

                .hb-embed-actions {
                    //display: none;
                    width: 100%;

                    @extend %hb-embed-actions--large;

                    & .hb-embed-action__none {
                        display: none;
                    }
                }

                &:hover {
                    .hb-embed-actions {
                        //display: table;
                    }
                }

                &:first-child {
                    .hb-embed-action__up {
                        display: none;
                    }
                }

                &:last-child {
                    .hb-embed-action__down {
                        display: none;
                    }
                    margin-bottom: 0;
                }
            }

            &.hb-entity-templates {
                display: none;
            }
        }

        .hb-embed-action__up label,
        .hb-embed-action__down label,
        .hb-embed-action__none label,
        .hb-embed-action__duplicate label { @include button-normal-mutating;}
        .hb-embed-action__delete label { @include button-normal-destructive; }

        .hb-embed-action__up .hb-embed-action__icon { @include hb-icon-pseudo-el((icon-name: triangle-up)); }
        .hb-embed-action__down .hb-embed-action__icon { @include hb-icon-pseudo-el((icon-name: triangle-down)); }
        .hb-embed-action__none .hb-embed-action__icon { @include hb-icon-pseudo-el((icon-name: minus)); }
        .hb-embed-action__delete .hb-embed-action__icon { @include hb-icon-pseudo-el((icon-name: cross)); }
        .hb-embed-action__duplicate .hb-embed-action__icon { @include hb-icon-pseudo-el((icon-name: copy)); }

        &.jsb_ {
            .hb-entity-templates {
                display: block;

                .hb-embed-item {
                    .hb-embed-actions {
                        .hb-embed-action {
                            display: none;
                        }
                    }
                }
            }

            .hb-embed-item {
                .hb-embed-actions {
                    .hb-embed-action {
                        &.hb-embed-action__none {
                            display: table-cell;
                        }
                    }
                }
            }
        }

        &.hb-entity-list__inline-mode {
            .hb-field__content {
                padding-top: 0;
            }

            .hb-embed-type-selector {
                display: none;
            }

            .hb-embed-item {
                > .hb-embed-actions {
                    display: none;
                }

                .hb-entity-header {
                    margin: 0;
                }
            }
        }
    }

    .hb-field__entity-reference-list {
        > .hb-field__content {
            > .hb-field__label {
                .hb-embed-type-selector {
                    text-align: right;
                }

                .hb-autocomplete {
                    margin-bottom: 0.5*$base-spacing;
                }
            }
        }
    }
    .hb-field__embedded-entity-list {
        > .hb-field__content {
            .hb-embed-type-selector {
                text-align: right;
            }
        }
    }
    /** embed/reference styles end here */

    @include media-query(palm) {
        .primary-activities .activities-list__more li {
            display: block;
        }
    }

    @include media-query(lap-and-up) {
        .controls-bottom {
            padding: 0;
            margin: 0;

            border: none;
            box-shadow: none;
        }

        .controls-layout {
            height: 0;
        }
    }

    @content;
}
