@mixin modifyitem-view() {
    .hb-validation-messages {
        display: none;
        margin-bottom: $base-spacing;

        &.invalid, &:invalid {
            display: block;
        }

        ul {
            margin-left: $base-spacing;
        }

        li {
            color: map-get($colors, red);
        }
    }

    ul.errors {
        margin: 0;
    }

    .hb-modifyitem-wrapper {}

    .hb-modifyitem-wrapper__header {
        margin: 0;
        padding: 0 $base-spacing 0 $base-spacing;
    }

    .hb-modifyitem-wrapper__content {
        padding: $base-spacing;
    }

    .hb-row {
        @extend %layout;
    }

    .hb-cell {
        @extend %layout__item;
        @extend %lap-and-up-1-of-2;
        @extend %desk-wide-1-of-3;
    }

    /* Nested styling */
    .hb-field {
        // restore removed padding, when the panel is either hidden and nested (.hb-field .hb-panel)
        .hb-panel--hidden > .hb-panel__content {
            padding: $base-spacing;
        }

        // restore removed padding, when the list is nested (.hb-field .hb-entity-list__inline-mode)
        .hb-entity-list__inline-mode.hb-entity-list__inline-mode {
            > .hb-field__content {
                display: none;
            }
        }

        .hb-panel { margin: 0; }

        .hb-cell {
            @extend %layout__item;
            @extend %lap-and-up-1-of-1;
            margin-bottom: 0;
        }
    }

    @include media-query(palm) {
        .primary-activities .activities-list__more li {
            display: block;
        }
    }

    @include media-query(lap-and-up) {
        .controls-bottom {
            padding: 0;
            margin: 0;

            border: none;
            box-shadow: none;
        }

        .controls-layout {
            height: 0;
        }
    }

    .hb-imagelist,
    .hb-assetlist {
        .hb-field-label__name,
        .hb-imagelist__input-multiple,
        .hb-assetlist__input-multiple {
            margin-bottom: $small-spacing;
        }
    }

    @content;
}