@mixin modifyitem-view() {
    .hb-validation-messages {
        display: none;
        margin-bottom: $base-spacing;

        &.invalid, &:invalid {
            display: block;
        }

        ul {
            margin-left: $base-spacing;
        }

        li {
            color: map-get($colors, red);
        }
    }

    ul.errors {
        margin: 0;
    }

    .hb-modifyitem-wrapper {

    }

    .hb-modifyitem-wrapper__header {
        margin: 0;
        padding: 0 $base-spacing 0 $base-spacing;
    }

    .hb-modifyitem-wrapper__content {
        padding: $base-spacing;
    }

    .hb-row {
        @extend %layout;
    }

    .hb-cell {
        @extend %layout__item;
        @extend %lap-and-up-1-of-2;
        @extend %desk-wide-1-of-3;
    }

    /**
        embed/reference styles start here
        @todo move to a dedicated component files
    */
    .hb-field__embedded-entity-list,
    .hb-field__entity-reference-list {
        margin-bottom: 0;

        &.jsb_ {
            > .hb-field__content {
                padding-top: 0;

                .hb-embed-type-selector {
                    display: none;
                }
            }
        }

        .not-displayed {
            display: none;
        }

        .highlight {
            background: white;
        }

        .hb-entity-list {
            list-style: none;
            margin: 0;
            padding: 0;

            .hb-embed-item {
                position: relative;
                padding-top: 0;
                padding-bottom: 0;
                margin-top: 3px;

                &:focus {
                    outline: 0;
                    box-shadow: 0 0 1px 3px color(outline);
                }

                .hb-cell {
                    @extend %layout__item;
                    @extend %lap-and-up-1-of-1;
                    margin-bottom: 0;
                }

                .hb-embed-actions {
                    width: 100%;

                    @extend %hb-embed-actions--large;

                    & .hb-embed-action__none {
                        display: none;
                    }
                }

                &:hover {
                    .hb-embed-actions {
                        //display: table;
                    }
                }

                &:first-child {
                    .hb-embed-action__up {
                        display: none;
                    }
                }

                &:last-child {
                    .hb-embed-action__down {
                        display: none;
                    }
                    margin-bottom: 0;
                }
            }

            &.hb-entity-templates {
                display: none;
            }
        }

        // Embed-item parts

        .hb-embed-item__header {
            // layout
            display: flex;
            flex-direction: row;

            // style
            background-color: color(white);
        }
        .hb-embed-item__toggle,
        .hb-embed-item__controls {
            // layout
            flex: 1 1 auto;
        }

        .hb-embed-item__controls {
        }

        .hb-embed-item__content {
            // collapsed by default
            display: none;

            background-color: color(lightgrey2);
        }

        // Embed-item expand/collapse
        .hb-embed-item__trigger { display: none; }
        .hb-embed-item__trigger:checked ~ .hb-embed-item__content { display: block; }

        .hb-embed-item__toggle {
            display: inline-block;
            vertical-align: top;
            position: initial;
        }

        // Embed actions
        .hb-embed-action__up label,
        .hb-embed-action__down label,
        .hb-embed-action__none label,
        .hb-embed-action__duplicate label { @include button-normal-mutating;}
        .hb-embed-action__delete label { @include button-normal-destructive; }

        .hb-embed-action__up .hb-embed-action__icon { @include hb-icon-pseudo-el((icon-name: triangle-up)); }
        .hb-embed-action__down .hb-embed-action__icon { @include hb-icon-pseudo-el((icon-name: triangle-down)); }
        .hb-embed-action__none .hb-embed-action__icon { @include hb-icon-pseudo-el((icon-name: minus)); }
        .hb-embed-action__delete .hb-embed-action__icon { @include hb-icon-pseudo-el((icon-name: cross)); }
        .hb-embed-action__duplicate .hb-embed-action__icon { @include hb-icon-pseudo-el((icon-name: copy)); }

        &.jsb_ {
            .hb-entity-templates {
                display: block;

                .hb-embed-item {
                    .hb-embed-actions {
                        .hb-embed-action {
                            display: none;
                        }
                    }
                }
            }

            .hb-embed-item {
                .hb-embed-actions {
                    .hb-embed-action {
                        &.hb-embed-action__none {
                            display: table-cell;
                        }
                    }
                }
            }
        }

        &.hb-entity-list__inline-mode {
            .hb-field__content {
                padding-top: 0;
            }

            .hb-embed-type-selector {
                display: none;
            }

            .hb-embed-item {
                > .hb-embed-actions {
                    display: none;
                }

                .hb-entity-header {
                    margin: 0;
                }
            }
        }
    }

    .hb-field__entity-reference-list {
        > .hb-field__content {
            > .hb-embed-type-selector {
                text-align: right;
            }
            > .hb-autocomplete {
                margin-bottom: 0.5*$base-spacing;
            }
        }
    }
    .hb-field__embedded-entity-list {
        @include shadow-container;

        > .hb-field__content {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            padding: $small-spacing;
            background-color: color(lightgrey3);

            > .hb-embed-type-selector,
            > .hb-field__label {
                flex: 1 0 auto;
                white-space: nowrap;

                text-align: center;
            }

            > .hb-field__label {
                @include typography-headlines;
                font-weight: normal;
                color: color(black);
            }

            @include media-query(lap-and-up) {
                flex-wrap: nowrap;
                flex-direction: row;

                padding: $base-spacing;

                > .hb-embed-type-selector {
                    text-align: right;
                }
                > .hb-field__label {
                    text-align: left;
                }
            }
        }
    }
    /** embed/reference styles end here */

    @include media-query(palm) {
        .primary-activities .activities-list__more li {
            display: block;
        }
    }

    @include media-query(lap-and-up) {
        .controls-bottom {
            padding: 0;
            margin: 0;

            border: none;
            box-shadow: none;
        }

        .controls-layout {
            height: 0;
        }
    }

    @content;
}
