$mainbar_height: 3rem !default;

/* LAYOUT */

.mainbar {
    display: block;
    position: relative;
    vertical-align: top;

    .mainbar__buttons {
        display: inline-block;
        vertical-align: middle;
    }

    .mainbar__default,
    .mainbar__more {

        ul {
            list-style: none;
            margin: 0;
        }
    }

    .mainbar__default {
        display: inline-block;
        vertical-align: middle;

        li {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .mainbar__more {
        display: none;
        text-align: left;
    }

    .mainbar__toggle {
        display: block;
    }

    .mainbar__trigger {
        @include visuallyhidden;
    }

    #mainbar__trigger-hide {
        &:checked ~ .mainbar__more {
            display: none;
        }
    }

    .mainbar__trigger--filter {
        &:checked ~ #mainbar__more-filter {
            display: block;
        }
    }

    .mainbar__trigger--batch {
        &:checked ~ #mainbar__more-batch {
            display: block;
        }
    }

    .mainbar__trigger--export {
        &:checked ~ #mainbar__more-export {
            display: block;
        }
    }

    .action {
        display: block;
        text-align: center;
        min-width: 100%;
    }

    .pager {
        display: block;
        text-align: center;

        .action {
            display: inline-block;
            min-width: 0;
        }
    }

    @include media-query(portable) {
        text-align: center;

        .mainbar__more {
            text-align: center;
        }
    }

    @include media-query(desk) {
        text-align: center;
    }

    @include media-query(lap-and-up) {
        .mainbar__more {
            li {
                display: inline-block;
            }
        }
        .action {
            min-width: initial;
        }

    }

    @include media-query(desk-wide) {
        text-align: left;

        .pager {
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            width: auto;
        }
    }
}


/* STYLING */

.mainbar {
    .action {
        @extend .btn;

        &.mainbar__toggle--hide {
            color: red;
        }

        &:focus {
            outline: 2px dashed green;
        }
    }

    @include media-query(palm) {
        .mainbar__buttons--create {
            display: block;
        }
    }

    .mainbar__more {
        li {
            line-height: $mainbar_height;
        }
    }

    .pager {
        line-height: $mainbar_height;

        @include media-query(palm) {
            span {
                display: none;
            }
        }
    }

    .mainbar__trigger--hide {
        &:checked ~ .mainbar__more {
            background-color: khaki;
        }

        &:focus ~ .mainbar__more .mainbar__toggle--hide {
            outline: 2px solid blue;
        }
    }

    .mainbar__trigger--filter {
        &:checked ~ #mainbar__more-filter {
            background-color: khaki;
        }

        &:focus ~ .mainbar__default .mainbar__toggle--filter {
            outline: 1px solid khaki;
        }
    }

    .mainbar__trigger--batch {
        &:checked ~ #mainbar__more-batch {
            background-color: beige;
        }

        &:focus ~ .mainbar__default .mainbar__toggle--batch {
            outline: 1px solid beige;
        }
    }

    .mainbar__trigger--export {
        &:checked ~ #mainbar__more-export {
            background-color: thistle;
        }

        &:focus ~ .mainbar__default .mainbar__toggle--export {
            outline: 1px solid thistle;
        }
    }
}
