{% extends _layout %}

{% block primary %}
<div class="primary-content-box">
    {% include "html/dummy/colors_typography.twig" with { translation_domain: translation_domain } %}
    {% include "html/dummy/activities.twig" with { translation_domain: translation_domain ~ '.activity' } %}
    {% include "html/dummy/widgets.twig" with { translation_domain: translation_domain } %}
    {% include "html/dummy/input_text.twig" with { translation_domain: translation_domain ~ '.fields' } %}
    {% include "html/dummy/input_checkable.twig" with { translation_domain: translation_domain ~ '.fields' }  %}
    {% include "html/dummy/input_text_list.twig" with { translation_domain: translation_domain ~ '.fields' }  %}
    {% include "html/dummy/input_imagelist.twig" with { translation_domain: translation_domain ~ '.fields' }  %}
    {% include "html/dummy/layout.twig" with { translation_domain: translation_domain } %}
</div>
{%- endblock -%}
