{% extends _layout %}

{% block primary %}
<div class="primary-content-box">
    {% include "html/dummy/colors_typography.twig" %}
    {% include "html/dummy/activities.twig" %}
    {% include "html/dummy/widgets.twig" %}
    {% include "html/dummy/input_text.twig" %}
    {% include "html/dummy/input_checkable.twig" %}
    {% include "html/dummy/input_text_list.twig" %}
    {% include "html/dummy/input_imagelist.twig" %}
    {% include "html/dummy/layout.twig" %}
</div>
{%- endblock -%}
