$buttons-base-padding: 0.5em !default;

.user-widget-wrapper {
    position: relative;
}

.user-widget {

    .user-dropdown {
        @include dropdown-normal("user-dropdown");

        // keep at minimum width
        &, .user-dropdown__toggle {
            display: inline-flex;
        }

        .user-dropdown__toggle {
            padding-top: 2px;
            padding-bottom: 2px;

            display: inline-flex;

            // flex-grow: 0;
            // flex-shrink: 1;

            @include media-query(lap-and-up) {

            }
        }
    }

    .user-widget__email {
        display: none;

        @include media-query(lap-and-up) {
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: auto;
            overflow: hidden;
            margin-left: $base-spacing/2;
        }
    }

    .user-widget__avatar {
        vertical-align: middle;
        border-radius: 50%;
        border: 1px solid color(lines);
        height: $base-spacing*2;
    }

    .activity {
        padding: 0 $base-spacing;
        //border-bottom: 2px solid #494949;
    }
}