$user-widget-avatar-size: $base-spacing*3 !default;

.user-widget {
    position: relative;
    display: inline-block;
}

.user-widget__avatar {
    position: absolute;
    left: $base-spacing;
    bottom: $base-spacing/3;
    @include zindex('base', 10);

    border-radius: 50%;
    border: 1px solid color(white);
    height: $base-spacing*3;
}

.user-dropdown {
    @include base-dropdown("user-dropdown");
    @include flyout--default-inline("user-dropdown");
    @include flyout--popover("user-dropdown");
    display: flex;

    @at-root {
        @include init-dropdown-icon-style("user-dropdown");

        .user-dropdown__toggle {
            @include button-shape-emphasized;
            padding-left: $base-spacing + $user-widget-avatar-size;
            text-align: left;
            border-radius: 0;
            width: 100%;

            color: color(navigational-emphasized-primary);
            background-color: rgba(color(white), 0.7);
            border-color: color(clear);

            // keep inner elements on the same line (inline-block doesn't)
            display: inline-flex;
            white-space: nowrap;
        }

        .user-dropdown__toggle-icon:before {
            font-size: $font-size*1.3;
        }

        .user-widget__label {
            padding-left: $base-spacing/2;

            overflow: hidden;
            text-overflow: ellipsis;
        }

        .user-dropdown__more {
            background-color: color(white);

            // .user-dropdown__trigger:checked ~ & {
            // }
        }

        // toggle focus
        .user-dropdown__trigger:focus ~ .user-dropdown__toggle {
            @include button-shadow-emphasized-navigational-focus;
        }
    }
}

.user-area {
    .user-widget {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    // .user-dropdown__toggle {
    //     &,
    //     .user-dropdown__trigger:checked ~ & {
    //         background-color: rgba(color(white), 0.7);
    //     }
    // }
}


%user-widget--palm-minimized,
.user-widget--palm-minimized {
    .user-widget__label {
        @include media-query(palm) {
            @include visuallyhidden;
        }
    }
}
