$buttons-base-padding: 0.5em !default;

.user-widget-wrapper {
    position: relative;
}

.user-widget {

    .user-dropdown {
        @include dropdown-normal("user-dropdown");
        @include flyout--popover("user-dropdown");
        @include flyout--popover-inverse("user-dropdown");

        // hover area just on the toggle
        &:hover {
            box-shadow: none;
        }
        .user-dropdown__toggle:hover {
            &,
            .user-widget__avatar {
                @include button-shadow-normal-navigational-hover;
            }
        }
        .user-dropdown__more {
            @include button-shadow-normal-navigational-hover;
        }

        // keep at minimum width
        &, .user-dropdown__toggle {
            display: inline-flex;
        }
    }

    .user-dropdown__toggle {
        padding-top: 2px;
        padding-bottom: 2px;

        @include media-query(lap-and-up) {

        }
    }

    .user-widget__email {
        text-overflow: ellipsis;
        white-space: nowrap;
        width: auto;
        overflow: hidden;
        margin-left: $base-spacing/2;

        @include media-query(palm) {
            @include visuallyhidden;
        }
    }

    .user-widget__avatar {
        vertical-align: middle;
        border-radius: 50%;
        border: 1px solid color(lines);
        height: $base-spacing*2;
    }

    .activity {
        padding: 0 $base-spacing;
    }
}