@import "mixins";

label {
    @include input-label();

    &+input,
    &+textarea {
        /*
         * the space between the label and the input
         * is smaller than between the label lines.
         * this compensates for that.
         */
        margin-top: 7px;
    }
}

input[type="search"] {
    box-sizing: border-box;
}

input[type="text"],
input[type="number"],
input[type="search"],
input[type="url"],
input[type="email"],
input[type="password"] {
    @include input-text();
    @include input-text-colors();
}

input[type="text"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="url"][disabled],
input[type="email"][disabled],
input[type="password"][disabled] {
    @include input-text-readonly();
    user-select: none;
}

input[type="text"][readonly],
input[type="number"][readonly],
input[type="search"][readonly],
input[type="password"][readonly] {
    @include input-text-readonly();
}

input, textarea {
    &+ .errors {
        display: none;
    }

    &.invalid, &:invalid {
        @include input-text-colors((
            shadow: map-get($colors, red),
            shadow-focus: map-get($colors, red),
        ));

        &+ .errors {
            display: block;
        }

        &+ .errors {
            margin-left: 0;
        }

        &+ .errors > .error {
            position: relative;
            display: block;
            margin-top: 0.5 * $base-spacing;
            padding: 0 0.5 * $base-spacing;
            font-size: 0.95 * $font-size;
            border: 1px solid map-get($colors, red);
            color: map-get($colors, red);

            $h: 4px;
            $w: 8px;
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                left: 0.5*$base-spacing;
                border-style: solid;
                border-width: 0 0.5*$w $h 0.5*$w;
                border-color: transparent transparent map-get($colors, red) transparent;
            }

            &::before {
                top: -$h;
                border-color: transparent transparent map-get($colors, red) transparent;
            }

            &::after {
                top: -$h + 1px;
                border-color: transparent transparent map-get($colors, white) transparent;
            }
        }
    }
}

textarea {
    @include textarea;
}

.input_help,
.input_hint {
    font-size: 0.75 * $font-size;

    a {
        color: map-get($colors, blue);
        text-decoration: none;

        &.icon {
            &::after {
                content: "\E705";
            }
        }
    }
}

.input_hint.focus {
    display: none;
}

input,textarea {
    &:focus ~ .input_hint.focus {
        display: block;
    }
}

.input_help {
    text-align: right;
}
