$font-size: 14px !default;
$base-spacing: 1.42*$font-size !default;
$line-height: $base-spacing !default;
$buttons-base-padding: 0.5em !default;    // spacing defined in buttons lib/object
$input-padding: 10px !default;

$selectize-spacing: 3px;

.selectize-control {
    .selectize-input {
        @include input-textual-default();
        padding: 0;
        padding-left: $selectize-spacing;

        .item,
        input {
            display: inline-block;
            vertical-align: top;
        }

        &.has-items:not(.focus), &.full {
            input { @include visuallyhidden; }
        }

        .remove {
            display: inline-block;
            width: $base-spacing;
            text-align: center;
            padding-left: $small-spacing;
            text-decoration: none;
            font-family: entypo;
            color: color(text-primary);
        }
    }

    // Multi selectize (Multiple choice select & Text-List)
    select[multiple] ~ & {
        .selectize-input.selectize-input {
            .item {
                @include button-shape-emphasized-navigational-default;
                @include button-colors-emphasized-navigational-default;
                margin: $selectize-spacing $selectize-spacing $selectize-spacing 0;
                line-height: $line-height;
            }

            // some browsers need an explicit height
            .item,
            input {
                box-sizing: content-box;
                height: $font-size;
            }
        }
    }

    // Single selectize (Single choice select)
    select:not([multiple]) ~ & {
        .selectize-input.selectize-input {
            padding: 0;

            .item {
                @include input-textual-shape-default;
                // @todo input-textual-shape-default sets width:100%.
                //       There should be space also for the caret, when typing is possible.
                line-height: 1;
                text-align: left;
                margin: 0;

                background-color: color(transparent);
                border-color: color(transparent);
                outline-color: color(transparent);
            }
        }
    }

    .selectize-input.selectize-input {
        // new-item input caret
        > input {
            @include strip-box;
            @include strip-background;

            // same spacing as the adjacent .item (lib/buttons emphasized)
            padding-top: $buttons-base-padding;
            padding-bottom: $buttons-base-padding;
            border: 1px solid color(transparent);
            margin: $selectize-spacing $selectize-spacing $selectize-spacing 0;

            &:only-child { padding-left: $buttons-base-padding; }
        }

        // states
        &.invalid { @include input-textual-colors-invalid; }
        &.disabled {
            @include input-textual-colors-disabled;
            .item { color: inherit; }
        }
        &.focus { @include input-textual-colors-focus; }
    }

    &.plugin-remove_button {
        .selectize-input.selectize-input {
            &.has-items {
                .item {
                    position: relative;
                    padding-right: $base-spacing * 1.5;
                }

                .remove {
                    position: absolute;
                }
            }
        }
    }

    .selectize-dropdown {
        @include zindex(popover);
        margin-top: $selectize-spacing;
        margin-bottom: 0;
        box-shadow: 0 2px 5px rgba(color(black), 0.1);

        // prevent expanding the parent and keep overlaid
        position: absolute;
        top: 100%;

        .create,
        .option {
            display: block;
            padding: 0.5em 1em;
            text-decoration: none;
            background-color: color(background-blank);
        }

        .active,
        .option:hover {
            background-color: color(lightgrey1);
        }
    }

    .selectize-dropdown-content {
        max-height: 200px;
        overflow-y: auto;

        border: 1px solid color(grey1);
    }
}

// single-choice select
.input-choice {
    .selectize-input.selectize-input {
        // hide caret
        > input { @include visuallyhidden; }

        // maintain minimum height (of line-height + padding) when empty and without caret
        &.not-full {
            overflow: auto; // create block formatting context
            &:after {
                content: '\00a0';
                float: right;
                padding-top: $input-padding;
                padding-bottom: $input-padding;
                padding-right: 0;
                padding-left: 0;
            }

            // fix flickering issue (Selectize append .dropdown-active for some milliseconds when focused)
            & ~ .selectize-dropdown { margin-left: -9999px; }
        }
    }

    select:not([multiple]) ~ .selectize-control {
        .item {
            // icon
            background-image: url(binaries/icons/chevron-down.svg);
            background-size: auto 80%;
            background-repeat: no-repeat;
            background-origin: content-box;
            background-position: right 50%;
        }
    }

    // allowEmptyOption enabled
    [data-value=""] {
        &:after {
            content: '';
            display: inline-block;
            visibility: hidden;
        }
    }
}
