.selectize-control {
    $p: 3px;
    .selectize-input {
        @include input-textual-default();
        padding: $p 0 0 $p;

        .item,
        input {
            display: inline-block;
        }

        .remove {
            display: inline-block;
            width: $base-spacing;
            text-align: center;
            padding-left: 0.5 * $base-spacing;
            text-decoration: none;
            font-family: entypo;
            color: color(text-primary);
        }
    }

    // Multi selectize (Text-List)
    &.multi {
        .selectize-input.selectize-input {
            .item {
                @include button-shape-emphasized-navigational-default;
                @include button-colors-emphasized-navigational-default;
                margin: 0 $p $p 0;
                line-height: 1em;
            }
        }
    }

    // Single selectize (Single choice select)
    &.single {
        .selectize-input.selectize-input {
            padding: 0;

            // hide caret
            > input { display: none; }

            .item {
                @include input-textual-shape-default;
                line-height: normal;
                text-align: left;
                margin: 0;

                background-color: color(transparent);
                border-color: color(transparent);
                outline-color: color(transparent);

                // icon
                background-image: url(binaries/icons/chevron-down.svg);
                background-size: auto 80%;
                background-repeat: no-repeat;
                background-origin: content-box;
                background-position: right 50%;
            }
        }
    }

    .selectize-input.selectize-input {
        // new-item input caret
        > input {
            @include strip-box;
            @include strip-background;
            padding: 7px 0 7px $p;
            margin: 0 $p $p 0;
        }

        // states
        &.invalid { @include input-textual-colors-invalid; }
        &.disabled {
            @include input-textual-colors-disabled;
            .item { color: inherit; }
        }
        &.focus { @include input-textual-colors-focus; }
    }

    .selectize-dropdown {
        @include zindex(popover);
        margin-top: $p;
        margin-bottom: 0;
        box-shadow: 0 2px 5px rgba(color(black), 0.1);

        @include media-query(desk) {
            position: absolute;
        }

        .create,
        .option {
            display: block;
            padding: 0.5em 1em;
            text-decoration: none;
            background-color: color(background-blank);
        }

        .active,
        .option:hover {
            background-color: color(lightgrey1);
        }
    }

    .selectize-dropdown-content {
        max-height: 200px;
        overflow-y: auto;

        border: 1px solid color(grey1);
    }
}
