@import "mixins";

.hb-tabs {
    @include hb-tabs("hb-tabs");
}

.hb-tabs__toggle {
    label {
        @include tabs-toggle-normal;

        &.selected {
            @include tabs-toggle-normal;
        }

        &:focus,
        &.focus {
            &,
            &.selected {
                @include button-default-focus;
            }
        }
    }
}

.hb-tabs__header {
    margin-bottom: $base-spacing;
}

.hb-tabs__toggles {
    margin-bottom: $base-spacing;
    display: inline-block;
    @include shadow-container;
}

.hb-tabs--stack {
    .hb-tabs__toggles {
        display: block;
    }
    .hb-tabs__toggle {
        label {
            @include tabs-toggle-states {
                padding-right: 7px;
                padding-left:  20px;
            }
        }
    }
}