@import "mixins";

/* default */
%activity,
.activity { @include activity-default; }

%activity-normal,
.activity.normal { @include activity-normal; }

%activity-emphasized,
.activity.emphasized { @include activity-emphasized; }

/* specific activites */
%activity-normal-navigational { @include button-normal-navigational; }
%activity-normal-mutating { @include button-normal-mutating; }
%activity-normal-positive { @include button-normal-positive; }
%activity-normal-warning { @include button-normal-warning; }
%activity-normal-destructive { @include button-normal-destructive; }

%activity-emphasized-navigational { @include button-emphasized-navigational; }
%activity-emphasized-mutating { @include button-emphasized-mutating; }
%activity-emphasized-positive { @include button-emphasized-positive; }
%activity-emphasized-warning { @include button-emphasized-warning; }
%activity-emphasized-destructive { @include button-emphasized-destructive; }

/* search activity */
.search__content {
    .activity-search {
        @include button-emphasized-navigational {
            white-space: nowrap;
        };
    }
}

// avoid partial hiding of focusing border caused by adjacent activities
.actvity-group .activity:focus {
    @include zindex("base", 1);
    position: relative;
}