$sidebar-size: 25% !default;

.sidebar {
    @include offcanvas('sidebar', 'bottom-right', 'right', $sidebar-size, .1s, 8000, 100);

    @include media-query(lap-and-up) {
        @include visuallyhidden;
    }

    .sidebar__panel {
        width: 20rem;
        background-color: color(white);

        .sidebar__toggle {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }

    .sidebar__trigger {
        position: fixed;
        top: 0;
    }

    .sidebar__toggle {
        @include button-emphasized-navigational;
        width: auto;
        position: fixed;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

        &, &:hover {
            padding-left: $base-spacing;
            padding-right: $base-spacing;
        }
    }

    .sidebar__trigger:checked ~ .sidebar__toggle {
        z-index: 100;
    }
}


