$sidebar-size: 25% !default;

.sidebar {
    @include offcanvas('sidebar', 'middle-right', 'right', $sidebar-size, .1s, 8000, 100);

    @include media-query(lap-and-up) {
        @include visuallyhidden;
    }

    .sidebar__panel {
        width: 20rem;
        background-color: color(white);

        .sidebar__toggle {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            // override button spacings
            &,
            &:focus,
            &:hover,
            &:active,
            &:disabled,
            &.disabled {
                margin: 0;
            }
        }
    }

    .sidebar__trigger {
        position: fixed;
        top: 0;
    }

    .sidebar__toggle {
        @include button-emphasized-navigational;
        // override button spacings
        &,
        &:focus,
        &:hover,
        &:active,
        &:disabled,
        &.disabled {
            margin: 0 $base-spacing/2 $base-spacing/2 $base-spacing;
            padding-left: $base-spacing/2 + $font-size*1.5;
            padding-right: $base-spacing/2;
            line-height: $base-spacing*2; // @todo  temporary: remove after implementation of toggle-button specifications
        }

        // menu icon on the text side
        @include hb-icon-before(align-left, color(text-primary), false) {
            margin-left: -$font-size*1.8;
        }

        width: auto;
        position: fixed;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

        right: -70px; // @todo  temporary: remove after implementation of toggle-button specifications
    }

    .sidebar__trigger:checked {
        & ~ .sidebar__panel .sidebar__toggle {
            line-height: $base-spacing; // @todo  temporary: remove after implementation of toggle-button specifications
        }
        & ~ .sidebar__toggle {
            z-index: 100;
        }
    }
}


