$sidebar-size: 25% !default;
$buttons-base-padding: 0.5em !default;    // spacing defined in buttons lib/object

.sidebar {
    @include offcanvas('sidebar', 'middle-right', 'right', $sidebar-size, .1s, 8000, 100);

    @include media-query(lap-and-up) {
        @include visuallyhidden;
    }

    @at-root {
        .sidebar__trigger {
            position: fixed;
            top: 0;
        }

        .sidebar__toggle {
            @include button-emphasized-navigational;
            width: auto; // override label default
        }

        .sidebar__panel {
            width: 20rem;
            background-color: color(white);
            @include shadow-offcanvas;

            .sidebar__toggle-close {
                position: absolute;
                bottom: 0;
                // set 100% width
                left: 0;
                right: 0;

                // icon before label description
                @include hb-icon-pseudo-el((
                    icon-name: align-right,
                    hide-content: false
                )) {
                    margin-right: $buttons-base-padding;
                };
            }
        }

        .sidebar__toggle-open {
            @include zindex("overlay", 10);
            @include hb-icon-pseudo-el((
                icon-name: align-left,
                size: 1.5
            ));
            color: color(text-primary);

            // override button defaults
            @include button-states {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                border-right-width: 0;

                padding-top: $base-spacing;
                padding-bottom: $base-spacing;
                padding-left: $small-spacing;
                padding-right: $small-spacing/2;

                @include shadow-offcanvas;
            }
        }

        .sidebar__trigger:checked {
        & ~ .sidebar__toggle {
            z-index: 100;
        }
    }
    }
}
