.mainNav {

    .title {
        color: color(white);
        padding: $base-spacing;
    }

    ul {
        @extend %list-bare;

        li li {
            padding-top: $base-spacing;
            padding-left: $base-spacing;

            &:first-child { padding-top: 0; }

            .activity.activity {
                @include button-states {
                    text-decoration: none;
                    background-color: color(transparent);
                    box-shadow: none;
                }
            }
        }

        li li li .activity.activity {
            // @include button-states {
            //     padding-left: 2 * $base-spacing;
            // }
        }
    }

    .grouptitle {
        padding-left: $base-spacing;
        padding-right: $base-spacing;

        margin-top: $base-spacing;

        @include typography-headlines(1.1);
        color: color(darkgrey2);
    }

    .activity.activity {
        @include button-states {
            text-align: left;

            padding-right: 0;
            padding-left: $base-spacing;
        }
        // icon
        @include hb-icon-pseudo-el((
            icon-name: dot-single,
            hide-content: false,
            size: 1.5
        )) {
            left: 4px; // align button without hiding it
        }
    }
}
