.pager__list {
    @extend %list-bare; // remove list default styling
    @extend %pack;  // ie9 fallback to display:table

    @include flexbox;

    li {
        box-sizing: border-box;

        @extend %pack__item;  // ie9 fallback to display:table-cell

        @include flexbox;
        @include flex(1, 0, auto);

        vertical-align: middle;
        text-align: center;
        @include justify-content(center);    // for display:flex
    }
}

.pager {
    .pager__details {
        white-space: nowrap;
        margin: 0;
        border-style: solid;
        border-color: color(lines);
        border-width: 0px 1px 0px 1px;
        form {
            // spacing with .pager__details borders
            padding: 0 $small-spacing;
        }
    }

    .pager__current_page {
        @include button-states {
            width: 1em; // as small as possible (override default from input[type="number"])
            min-width: 5em;

            vertical-align: middle;
            // merge right border with .pager__go
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: 0;
        }
        padding-left: 0.5*$base-spacing;
        padding-right: 0.5*$base-spacing;
    }
}

.pager__total {
    margin: 0 $small-spacing;
    padding: 0 $small-spacing;
}

// Extend when providing element replacement with a background-image
// (usually for replacing with icons)
%pager-button-background {
    background-size: auto $font-size;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -99999px;
}

// buttons
.pager__first_page,
.pager__prev_page,
.pager__next_page,
.pager__last_page {
    a {
        color: color(black);
        font-size: $font-size*1.5;
        padding: $small-spacing;
        padding-top: auto;
        padding-bottom: auto;
    }
}
.pager__first_page a {
    @include hb-icon-pseudo-el(controller-jump-to-start);
}
.pager__prev_page a {
    @include hb-icon-pseudo-el(controller-play);
    // reversed 'play' icon
    transform: scaleX(-1);
    filter: fliph; /*IE*/
}
.pager__go {
    @include button-emphasized-navigational {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    };
}
.pager__next_page a {
    @include hb-icon-pseudo-el(controller-play);
}
.pager__last_page a {
    @include hb-icon-pseudo-el(controller-next);
}
