- extends _layout

- block primary
    %h2 Item/ItemError
    - embed 'html/layout/grid/1_boxes.twig' with {'name':'resource', 'box1':'content'}
        - block box1
            %p An unexpected error occured while trying to handle item request.
            - if errors is defined
                %ul.errors
                    - for error in errors
                        %li.error
                            %span = error
