%single-box-as-sheet {
    .page-main {
        @include sheet;

        @include media-query(lap-and-up) {
            max-width: 400px;
            margin: 0 auto;
        }

        fieldset {
            border: none;
        }

        .control-group {
            margin-top: $base-spacing;
        }
    }
}

.view-login {
    @extend %single-box-as-sheet;
}
