html {
    background: map-get($colors, white);
    color: map-get($colors, black);
    hyphens: auto;
}

body {
    padding: $base-spacing;

    font-family: $font-family;
    font-weight: $font-weight;
    line-height: $base-spacing;
}

a {
    color: color(blue-shadow);
}

.brand a {
    background: url('binaries/icons/favicon-48.png');
    display: block;
    width: 48px;
    height: 48px;
}

.brand a span {
    @include visuallyhidden;
}

button,
.button {
    @extend %button;
}

.activity {
    @extend %activity;

    // a highlighted "passive" activity
    &.highlight.highlight.highlight { @include activity-navigational-highlight(); }

    // all "active" actions, that change things, are color coded
    &.mutating.mutating.mutating { @include activity-mutating(); } // changes/adds something
    &.positive.positive.positive { @include activity-positive(); } // confirms or positively reinforces something
    &.warning.warning.warning { @include activity-warning(); } // should be used with caution
    &.destructive.destructive.destructive { @include activity-destructive(); } // deleted something
}

.activity.activity[rel="save"],
.activity.activity[rel="promote"],
.activity.activity[rel="demote"] {
    @include activity-mutating();
}

.activity.activity[rel="demote"] {
    @include activity-warning();
}

.activity.activity[rel="edit"] {
    @include activity-navigational();
}

.activity.activity[rel="delete"] {
    @include activity-destructive();
}


.info-box {
    //display: inline-block would result in an unwanted 24px margin
    display: block;
}

.page-footer {
    @include sheet;
}

.disabled {
    opacity: 1.0; //reset inuits disabled opacity
}

.sheet {
    @extend %sheet;
    margin-bottom: $base-spacing;
}

label {
    cursor: pointer;
}

/*
.menu__toggle {
    @include activity-mutating;
    @include activity-mutating-focus;
}
*/
