.honeybee-core-theme_preview {
    .theme-preview__colors {
        .color-list {
            padding: 0;
            margin: 0;
            list-style: none;

            span {
                display: block;
                background-color: color(white);
            }

            li {
                position: relative;
                display: inline-block;
                width: 7*$base-spacing;

                line-height: $base-spacing;
                padding-top: 3*$base-spacing;

                margin: 0.5*$base-spacing;

                border: 1px solid black;

                font-size: 0.7em;
                text-align: center;

                background-color: white;
                color: black;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: $base-spacing;

                    border-bottom: 1px solid black;
                }
            }

            .text { background-color: color(text-primary); }
            .background { background-color: color(text-secondary); }

            .navigational,
            .navigational-shadow { @include button-colors-emphasized-navigational-default; }
            .navigational-hover { @include button-colors-emphasized-navigational-hover; }
            .navigational-shadow { @include button-shadow-normal-navigational-active; }
            .mutating,
            .mutating-shadow { @include button-colors-emphasized-mutating-default; }
            .mutating-hover { @include button-colors-emphasized-mutating-hover; }
            .mutating-shadow { @include button-shadow-normal-navigational-active; }
            .positive,
            .positive-shadow { @include button-colors-emphasized-positive-default; }
            .positive-hover { @include button-colors-emphasized-positive-hover; }
            .positive-shadow { @include button-shadow-normal-navigational-active; }
            .warning,
            .warning-shadow { @include button-colors-emphasized-warning-default; }
            .warning-hover { @include button-colors-emphasized-warning-hover; }
            .warning-shadow { @include button-shadow-normal-navigational-active; }
            .destructive,
            .destructive-shadow { @include button-colors-emphasized-destructive-default; }
            .destructive-hover { @include button-colors-emphasized-destructive-hover; }
            .destructive-shadow { @include button-shadow-normal-navigational-active; }
        }
    }

    .theme-preview__typography {
        .interactive {
            @include typography-interactive();
        }

        .headline-1 { @extend h1; }
        .headline-2 { @extend h2; }
        .headline-3 { @extend h3; }

    }

    // custom spacings
    .theme-preview_activity-groups,
    .theme-preview__widgets {
        hr { margin: 1em; }

        h2, h3, h4, h5, h6 {
            margin-top: .7em;
            margin-bottom: .5em;
        }
    }

    .theme-preview_activity-groups {
        .activity_group_types {
            h4 { text-align: center; }
        }
    }

    .theme-preview__widgets {
        .component-primary-activities {
            .layout__item { margin-bottom: 1em; }
        }

        .user-widget {
            margin-top: 2em;
        }

        .component-menu {
            .menu__toggle {
                position: relative;
            }
        }

        .component-navigation__wrapper {
            background: color(white);
            box-shadow: 0 0 20px rgba(0,0,0,0.2);
            padding-top: 1em;
            padding-bottom: 1em;
        }

        .component-breadcrumbs__wrapper {
            border-width: 1px;
            border-style: solid;
            border-color: color(grey2);
            border-bottom-color: color(grey1);
            background-color: color(lightgrey2);
        }
    }

    .theme-preview__input-text {
        .invalid input:not(:focus) {
            @include input-textual-invalid;
        }
    }
}
