{% set columns_number = 3 %}
<div class="activity_groups">
    <h4>{{ activity_type_name|capitalize }}</h4>
    {% for group_name, activity_group in activity_group_bucket %}
        {%- set close_layout = loop.index is divisible by(columns_number) or loop.last -%}
        {%- set new_layout = loop.index0 is divisible by(columns_number) or loop.first -%}

        {%- if new_layout %}
            <div class="layout">
        {% endif -%}

            <div class="layout__item lap-and-up-1/{{ columns_number }} palm-1/1">
                <h6>{{ group_name|replace('-',' ') }}</h6>
                {{ activity_group|raw }}
            </div>

        {%- if close_layout %}
            </div>
        {% endif -%}
    {% endfor %}
</div>