<div class="sheet theme-preview__colors">
    <div class="layout">
        <div class="layout__item">
            <h1>Colors</h1>
            <ul class="color-list">
                <li class="text"><span>text<span></li><!--
                --><li class="background"><span>background</span></li>
            </ul>

            <h2>Neutral</h2>
            <ul class="color-list">
                <li class="neutral" data-text="neutral">neutral</li><!--
                --><li class="neutral-shadow">neutral shadow</li><!--
                --><li class="neutral-neutral">neutral neutral</li><!--
                --><li class="neutral-medium">neutral medium</li><!--
                --><li class="neutral-light">neutral light</li><!--
                --><li class="neutral-super-light">neutral super-light</li><!--
                --><li class="neutral-warm-light">neutral warm-light</li>
            </ul>

            <div class="layout">
                <div class="layout__item u-1-of-2-lap-and-up">
                    <h2>Action</h2>
                    <ul class="color-list">
                        <li class="action">action</li><!--
                        --><li class="action-hover">action hover</li><!--
                        --><li class="action-shadow">action shadow</li>
                    </ul>
                </div><!--
                --><div class="layout__item u-1-of-2-lap-and-up">
                    <h2>Navigational</h2>
                    <ul class="color-list">
                        <li class="navigational">navigational</li><!--
                        --><li class="navigational-hover">navigational hover</li><!--
                        --><li class="navigational-shadow">navigational shadow</li>
                    </ul>
                </div><!--
                --><div class="layout__item u-1-of-2-lap-and-up">
                    <h2>Mutating</h2>
                    <ul class="color-list">
                        <li class="mutating">mutating</li><!--
                        --><li class="mutating-hover">mutating hover</li><!--
                        --><li class="mutating-shadow">mutating shadow</li>
                    </ul>
                </div><!--
                --><div class="layout__item u-1-of-2-lap-and-up">
                    <h2>Positive</h2>
                    <ul class="color-list">
                        <li class="positive">positive</li><!--
                        --><li class="positive-hover">positive hover</li><!--
                        --><li class="positive-shadow">positive shadow</li>
                    </ul>
                </div><!--
                --><div class="layout__item u-1-of-2-lap-and-up">
                    <h2>Warning</h2>
                    <ul class="color-list">
                        <li class="warning">warning</li><!--
                        --><li class="warning-hover">warning hover</li><!--
                        --><li class="warning-shadow">warning shadow</li>
                    </ul>
                </div><!--
                --><div class="layout__item u-1-of-2-lap-and-up">
                    <h2>Destructive</h2>
                    <ul class="color-list">
                        <li class="destructive">destructive</li><!--
                        --><li class="destructive-hover">destructive hover</li><!--
                        --><li class="destructive-shadow">destructive shadow</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sheet">
    <div class="layout">
        <div class="layout__item">
            <h1>Typography</h1>
            <ul class="theme-preview__typography">
                <li><span class="default">Default</span></li>
                <li><span class="interactive">Interactive</span></li>
                <li><span class="headline-1">Headline 1</span></li>
                <li><span class="headline-2">Headline 2</span></li>
                <li><span class="headline-3">Headline 3</span></li>
            </ul>
        </div>
    </div>
</div>

