<div class="sheet">
<h1>Input: Image</h1>
    <div class="layout">
        <div class="layout__item u-1-of-2-desk">
            {% include "html/attribute/image/as_input_file.twig" with {
                field_name: "Image Input One",
                html_attributes: {},
                field_id: "image1",
                attribute_value: {
                    image_url: "http://placehold.it/800x400",
                    title: "An image of something",
                    caption: "The image's caption",
                    copyright: "© 2015 BerlinOnline",
                    copyright_url: "http://www.berlinonline.net",
                    source: ""
                },
                grouped_field_name: "image1"
            } %}
        </div><!--
        --><div class="layout__item">
        </div>
    </div>
</div>
