<div class="sheet">
<h1>Input: Text List</h1>
    <div class="layout">
        <div class="layout__item u-1-of-2-lap-and-up">
            {% include "html/attribute/text-list/as_input.twig" with {
                field_name: "Text List",
                html_attributes: {},
                field_id: "textlist1",
                attribute_value: ["foo", "bar", "batz"],
                grouped_field_name: "Grouped Field Name",
                widget_enabled: true,
                readonly: "",
                disabled: "",
                required: "",
                pattern: "",
                widget_enabled: true,
                css: "jsb_ jsb_Honeybee_Core/ui/TextList",
                widget_options: { isRequired: false, isReadonly: false, isDisabled: false, min_count: null, max_count: null, remove_label: "×" },
                translations: {
                    placeholder: "Insert Text",
                    pattern: "",
                    input_help: "",
                    input_hint: "",
                    input_focus_hint: ""
                }
            } %}
        </div><!--
        --><div class="layout__item u-1-of-2-lap-and-up">
            {% include "html/attribute/text-list/as_input.twig" with {
                field_name: "Text List Invalid",
                html_attributes: {},
                field_id: "textlist2",
                attribute_value: [],
                grouped_field_name: "Grouped Field Name",
                widget_enabled: true,
                readonly: "",
                disabled: "",
                required: "required",
                pattern: "",
                css: "jsb_ jsb_Honeybee_Core/ui/TextList",
                widget_enabled: true,
                widget_options: { isRequired: false, isReadonly: false, isDisabled: false, min_count: 2, max_count: 3, remove_label: "×" },
                translations: {
                    placeholder: "Insert Text",
                    pattern: "",
                    input_help: "",
                    input_hint: "",
                    input_focus_hint: ""
                }
            } %}
        </div><!--
        --><div class="layout__item u-1-of-2-lap-and-up">
            {% include "html/attribute/text-list/as_input.twig" with {
                field_name: "Text List Full Width",
                html_attributes: {},
                field_id: "textlist3",
                attribute_value: ["Full", "width", "text-list"],
                grouped_field_name: "Grouped Field Name",
                widget_enabled: true,
                readonly: "",
                disabled: "",
                required: "required",
                pattern: "",
                css: "jsb_ jsb_Honeybee_Core/ui/TextList input-text-list--full-width",
                widget_enabled: true,
                widget_options: { isRequired: false, isReadonly: false, isDisabled: false, min_count: 2, max_count: 3, remove_label: "×" },
                translations: {
                    placeholder: "Insert Text",
                    pattern: "",
                    input_help: "",
                    input_hint: "",
                    input_focus_hint: ""
                }
            } %}
        </div>
    </div>
</div>


<div class="sheet">
<h1>Input: Choice Select</h1>
    <div class="layout">
        <div class="layout__item u-1-of-2-lap-and-up">
            {% include "html/attribute/choice/as_input_select.twig" with {
                field_name: "Choice Select One",
                html_attributes: {},
                field_id: "choiceselect1",
                attribute_value: ["foo", "bar", "batz"],
                grouped_field_name: "Grouped Field Name",
                widget_enabled: true,
                readonly: "",
                disabled: "",
                required: "",
                widget_enabled: true,
                css: "jsb_ jsb_Honeybee_Core/ui/SelectBox",
                allowed_values: [ 'Choice 1', 'Choice 2', 'Choice 3', 'Choice 4' ],
                widget_options: { isRequired: false, isReadonly: false, isDisabled: false },
                translations: {
                    placeholder: "Insert Text",
                    pattern: "",
                    input_help: "",
                    input_hint: "",
                    input_focus_hint: ""
                }
            } %}
        </div><!--
        --><div class="layout__item u-1-of-2-lap-and-up">
            {% include "html/attribute/choice/as_input_select.twig" with {
                field_name: "Choice Select Disabled",
                html_attributes: {},
                field_id: "choiceselect2",
                attribute_value: ["foo", "bar", "batz"],
                grouped_field_name: "Grouped Field Name",
                widget_enabled: true,
                readonly: "",
                disabled: "disabled",
                required: "",
                widget_enabled: true,
                css: "jsb_ jsb_Honeybee_Core/ui/SelectBox",
                allowed_values: [ 'Choice 1', 'Choice 2', 'Choice 3', 'Choice 4' ],
                widget_options: { isRequired: false, isReadonly: true, isDisabled: true },
                translations: {
                    placeholder: "Insert Text",
                    pattern: "",
                    input_help: "",
                    input_hint: "",
                    input_focus_hint: ""
                }
            } %}
        </div><!--
        --><div class="layout__item u-1-of-2-lap-and-up">
            {% include "html/attribute/choice/as_input_select.twig" with {
                field_name: "Choice Select Empty",
                html_attributes: {},
                field_id: "choiceselect3",
                attribute_value: [],
                grouped_field_name: "Grouped Field Name",
                widget_enabled: true,
                readonly: "",
                disabled: "",
                required: "",
                widget_enabled: true,
                css: "jsb_ jsb_Honeybee_Core/ui/SelectBox",
                allowed_values: [],
                widget_options: { isRequired: false, isReadonly: true, isDisabled: true },
                translations: {
                    placeholder: "Insert Text",
                    pattern: "",
                    input_help: "",
                    input_hint: "",
                    input_focus_hint: ""
                }
            } %}
        </div><!--
        --><div class="layout__item u-1-of-2-lap-and-up">
                <div class="hb-field__label"><label for="{{ choice_date_range_input_name }}">Choice date range</label></div>
                <div>{{ _rendererd_date_range|raw }}</div>
        </div>
    </div>
</div>
