<div class="sheet">
    <div class="layout">
        <div class="layout__item u-1-of-2-lap-and-up">
            <h1>Input: Radio</h1>
            <div class="input-radiobutton">
                <input type="radio" id="radio1" name="radio1" />
                <label for="radio1" class="input-proxy"></label>
                <label for="radio1">Lorem Ipsum</label>
            </div>
            <div class="input-radiobutton">
                <input type="radio" id="radio2" name="radio1" />
                <label for="radio2" class="input-proxy"></label>
                <label for="radio2" name="radio1">dolor sit amet</label>
            </div>
            <div class="input-radiobutton">
                <input type="radio" id="radio3" name="radio1" disabled/>
                <label for="radio3" class="input-proxy"></label>
                <label for="radio3" name="radio1">dolor sit amet</label>
            </div>
        </div><!--
        --><div class="layout__item u-1-of-2-lap-and-up">
            <h1>Input: Checkbox</h1>
            <div class="input-checkbox">
                <input type="checkbox" id="check1" name="check1" />
                <label for="check1" class="input-proxy"></label>
                <label for="check1">Lorem Ipsum</label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" id="check2" name="check1" />
                <label for="check2" class="input-proxy"></label>
                <label for="check2">dolor sit amet</label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" id="check3" name="check1" disabled />
                <label for="check3" class="input-proxy"></label>
                <label for="check3">dolor sit amet</label>
            </div>
        </div>
    </div>
</div>

