<div class="sheet theme-preview__input-text">
    <h1>Input: Text</h1>
    <div class="layout">
        {# Text input #}
        <div class="layout__item u-1-of-2-lap-and-up">
            {% include "html/attribute/as_input_text.twig" with {
                field_name: "Text Input One",
                html_attributes: {},
                field_id: "textinput1",
                attribute_value: "",
                grouped_field_name: "textinput1",
                readonly: "",
                disabled: "",
                required: "",
                pattern: "",
                translations: {
                    placeholder: "Click to show the focus hint",
                    pattern: "",
                    input_help: "",
                    input_hint: "",
                    input_focus_hint: "You can type any kind of string"
                }
            } %}
        </div><!--
        --><div class="layout__item u-1-of-2-lap-and-up">
            {% include "html/attribute/as_input_text.twig" with {
                field_name: "Text Input Two (Invalid Value)",
                html_attributes: {},
                field_id: "textinput2",
                attribute_value: "",
                grouped_field_name: "textinput2",
                readonly: "",
                disabled: "",
                required: "required",
                pattern: "",
                translations: {
                    placeholder: "Insert Text. Empty Not allowed.",
                    pattern: "",
                    input_help: "",
                    input_hint: "This field is mandatory",
                    input_focus_hint: ""
                }
            } %}
        </div>
        {# Email input #}
        <div class="layout__item u-1-of-2-lap-and-up">
            {% include "html/attribute/email/as_input_email.twig" with {
                field_name: "Email Input One",
                html_attributes: {},
                field_id: "emailinput1",
                attribute_value: "",
                grouped_field_name: "emailinput1",
                readonly: "",
                disabled: "",
                required: "",
                pattern: "",
                translations: {
                    placeholder: "Insert Valid Email",
                    pattern: "",
                    input_help: "",
                    input_hint: "",
                    input_focus_hint: ""
                }
            } %}
        </div><!--
        --><div class="layout__item u-1-of-2-lap-and-up">
            {% embed "html/attribute/email/as_input_email.twig" with {
                field_name: "Email Input Two (Invalid Value)",
                html_attributes: {},
                field_id: "emailinput2",
                attribute_value: "",
                grouped_field_name: "emailinput2",
                readonly: "",
                disabled: "",
                required: "required",
                pattern: "",
                translations: {
                    placeholder: "Insert Valid Email",
                    pattern: "",
                    input_help: "",
                    input_hint: "",
                    input_focus_hint: ""
                }
            } %}
                {% block field_errors %}
                <li class="error specific fielderror-emailinput2 is-visible" data-field-name="emailinput2" data-field-id="emailinput2"><label for="emailinput2"><span class="error__message">This is a specific input error</span></label></li>
                <li class="error specific fielderror-emailinput2 is-visible" data-field-name="emailinput2" data-field-id="emailinput2"><label for="emailinput2"><span class="error__message">This is another specific input error</span></label></li>
                {% endblock %}
            {% endembed %}
        </div>
        {# Url input #}
        <div class="layout__item u-1-of-2-lap-and-up">
            {% include "html/attribute/url/as_input_url.twig" with {
                field_name: "Url Input One",
                html_attributes: {},
                field_id: "urlinput1",
                attribute_value: "",
                grouped_field_name: "urlinput1",
                readonly: "",
                disabled: "",
                required: "",
                pattern: "",
                translations: {
                    placeholder: "Insert Valid Url",
                    pattern: "",
                    input_help: "",
                    input_hint: "",
                    input_focus_hint: ""
                }
            } %}
        </div><!--
        --><div class="layout__item u-1-of-2-lap-and-up">
            {% include "html/attribute/url/as_input_url.twig" with {
                field_name: "Url Input Two (Invalid Value)",
                html_attributes: {},
                field_id: "urlinput2",
                attribute_value: "",
                grouped_field_name: "urlinput2",
                readonly: "",
                disabled: "",
                required: "required",
                pattern: "",
                translations: {
                    placeholder: "Insert Valid Url",
                    pattern: "",
                    input_help: "",
                    input_hint: "",
                    input_focus_hint: ""
                }
            } %}
        </div><!--
        --><div class="layout__item u-1-of-2-lap-and-up">
            {% include "html/attribute/url/as_input_url.twig" with {
                field_name: "Url Input Three (Valid Value)",
                css: "valid",
                html_attributes: {},
                field_id: "urlinput3",
                attribute_value: "http://example.org",
                grouped_field_name: "urlinput3",
                readonly: "",
                disabled: "",
                required: "required",
                pattern: "",
                translations: {
                    placeholder: "Insert Valid Url",
                    pattern: "",
                    input_help: "",
                    input_hint: "",
                    input_focus_hint: ""
                }
            } %}
        </div>
        {# Date input #}
        <div class="layout__item u-1-of-2-lap-and-up">
            {% include "html/attribute/datetime/as_input.twig" with {
                field_name: "Date Input One",
                css: "jsb_ jsb_Honeybee_Core/ui/DatePicker",
                html_attributes: {},
                widget_enabled: true,
                widget_options: {"isReadonly":false,"isDisabled":false,"isRequired":false,"display_format":"L LTS","display_mode":"table"},
                field_id: "dateinput1",
                attribute_value: "",
                grouped_field_name: "dateinput1",
                readonly: "",
                disabled: "",
                required: "",
                pattern: "",
                translations: {
                    placeholder: "Insert Valid Date",
                    pattern: "",
                    input_help: "",
                    input_hint: "",
                    input_focus_hint: ""
                }
            } %}
        </div><!--
        --><div class="layout__item u-1-of-2-lap-and-up">
            {% include "html/attribute/datetime/as_input.twig" with {
                field_name: "Date Input Two (Invalid Value)",
                css: "jsb_ jsb_Honeybee_Core/ui/DatePicker invalid",
                html_attributes: {},
                widget_enabled: true,
                widget_options: {"isReadonly":false,"isDisabled":false,"isRequired":true,"display_format":"L LTS","display_mode":"table"},
                field_id: "dateinput2",
                attribute_value: "66:66:66",
                grouped_field_name: "dateinput2",
                readonly: "",
                disabled: "",
                required: "required",
                pattern: "",
                translations: {
                    placeholder: "Insert Valid Date",
                    pattern: "",
                    input_help: "",
                    input_hint: "",
                    input_focus_hint: ""
                }
            } %}
        </div><!--
        --><div class="layout__item u-1-of-2-lap-and-up">
            {% include "html/attribute/datetime/as_input.twig" with {
                field_name: "Date Input Three (Valid Value)",
                css: "jsb_ jsb_Honeybee_Core/ui/DatePicker valid",
                html_attributes: {},
                widget_enabled: true,
                widget_options: {"isReadonly":false,"isDisabled":false,"isRequired":true,"display_format":"L LTS","display_mode":"table"},
                field_id: "dateinput2",
                attribute_value: "21.07.1969 02:56:00",
                grouped_field_name: "dateinput2",
                readonly: "",
                disabled: "",
                required: "required",
                pattern: "",
                translations: {
                    placeholder: "Insert Valid Date",
                    pattern: "",
                    input_help: "",
                    input_hint: "",
                    input_focus_hint: ""
                }
            } %}
        </div>
    </div>
</div>
<div class="sheet">
    {# Textarea #}
    <h1>Input: Textarea</h1>
    <div class="layout">
        <div class="layout__item u-1-of-2-lap-and-up">
            {% include "html/attribute/textarea/as_input.twig" with {
                disabled: "",
                readonly: "",
                required: "",
                maxlength: "200",
                wrap: "soft",
                cols: 10,
                rows: 12,
                attribute_value: "Lorem ipsum dolor sit amet, nisl fusce dolor magna tellus. Est venenatis id. Interdum luctus aliquam ut quisque eu non, pellentesque ultricies neque. Dignissim bibendum rhoncus. Metus arcu a, lacinia accumsan dignissim posuere, sed convallis magna tincidunt nulla dui dui, cras a justo, felis hendrerit tristique nascetur. Euismod odio congue. Vestibulum turpis ante elit, nibh vitae eros, suspendisse tristique, eu laoreet consectetuer tempore. Mauris ullamcorper semper elit ullamcorper, feugiat metus augue a wisi.",
                field_name: "Textarea Input",
                field_id: "textarea1",
                html_attributes: {},
                grouped_field_name: "textarea1",
                counter: {
                    enabled: true,
                    options: {}
                }
            } %}
        </div><!--
        --><div class="layout__item u-1-of-2-lap-and-up">
            {% include "html/attribute/textarea/as_input.twig" with {
                disabled: "disabled",
                readonly: "",
                required: false,
                maxlength: "",
                wrap: "soft",
                cols: 10,
                rows: 12,
                attribute_value: "Lorem ipsum dolor sit amet, nisl fusce dolor magna tellus. Est venenatis id. Interdum luctus aliquam ut quisque eu non, pellentesque ultricies neque. Dignissim bibendum rhoncus. Metus arcu a, lacinia accumsan dignissim posuere, sed convallis magna tincidunt nulla dui dui, cras a justo, felis hendrerit tristique nascetur. Euismod odio congue. Vestibulum turpis ante elit, nibh vitae eros, suspendisse tristique, eu laoreet consectetuer tempore. Mauris ullamcorper semper elit ullamcorper, feugiat metus augue a wisi.",
                field_name: "Textarea Input Disabled",
                field_id: "textarea2",
                html_attributes: {},
                grouped_field_name: "textarea2",
                counter: {
                    enabled: false,
                    options: {}
                }
            } %}
        </div>
    </div>
</div>
<div class="sheet">
    {# Textarea w/ HtmlRichTextEditor #}
    <h1>Input: Textarea w/ HtmlRichTextEditor</h1>
    <div class="layout layout--center">
        <div class="layout__item u-1-of-2-lap-and-up">
            {% set editor_options = {textarea_selector: '#htmltextarea1'} %}
            {% include "html/attribute/textarea/as_input.twig" with {
                disabled: "",
                readonly: "",
                required: "",
                attribute_value: "Lorem ipsum dolor sit amet, nisl fusce dolor magna tellus. Est venenatis id. Interdum luctus aliquam ut quisque eu non, pellentesque ultricies neque. Dignissim bibendum rhoncus. Metus arcu a, lacinia accumsan dignissim posuere, sed convallis magna tincidunt nulla dui dui, cras a justo, felis hendrerit tristique nascetur. Euismod odio congue. Vestibulum turpis ante elit, nibh vitae eros, suspendisse tristique, eu laoreet consectetuer tempore. Mauris ullamcorper semper elit ullamcorper, feugiat metus augue a wisi.",
                field_name: "html-textarea",
                field_id: "htmltextarea1",
                html_attributes: {},
                grouped_field_name: "group",
                editor: {
                    enabled: true,
                    options: editor_options|json_encode,
                },
                counter: {
                    enabled: false,
                }
            } %}
        </div><!--
        --><div class="layout__item u-1-of-2-lap-and-up">
        </div>
    </div>
</div>
