<!-- Sheet -->
<h1>Layout: Sheet</h1>

<div class="sheet">
    Lorem ipsum dolor sit amet, nisl fusce dolor magna tellus. Est venenatis id. Interdum luctus aliquam ut quisque eu non, pellentesque ultricies neque. Dignissim bibendum rhoncus. Metus arcu a, lacinia accumsan dignissim posuere, sed convallis magna tincidunt nulla dui dui, cras a justo, felis hendrerit tristique nascetur. Euismod odio congue. Vestibulum turpis ante elit, nibh vitae eros, suspendisse tristique, eu laoreet consectetuer tempore. Mauris ullamcorper semper elit ullamcorper, feugiat metus augue a wisi.
</div>

<!-- Panel -->
<h1>Layout: Panel</h1>

<div class="hb-panel hb-panel-dummy" data-panel-name="dummy">
    <div class="hb-panel__header">
        <div class="hb-panel__title">Panel Title</div>
        <p class="hb-panel__description">Panel Description</p>
    </div>
    <div class="hb-panel__content">
        <strong>Panel content:</strong> Lorem ipsum dolor sit amet, nisl fusce dolor magna tellus. Est venenatis id. Interdum luctus aliquam ut quisque eu non, pellentesque ultricies neque. Dignissim bibendum rhoncus. Metus arcu a, lacinia accumsan dignissim posuere, sed convallis magna tincidunt nulla dui dui, cras a justo, felis hendrerit tristique nascetur. Euismod odio congue. Vestibulum turpis ante elit, nibh vitae eros, suspendisse tristique, eu laoreet consectetuer tempore. Mauris ullamcorper semper elit ullamcorper, feugiat metus augue a wisi.
    </div>
</div>

<!-- Tabs -->
<h1>Component: Tabs</h1>

<h2>Inline</h2>

<div class="hb-tabs jsb_ jsb_Honeybee_Core/ui/Tabs">
    <div class="hb-tabs__header">
        <ul class="hb-tabs__toggles">
            <li class="hb-tabs__toggle"><label for="1744273304-main" class="">Main</label></li>
            <li class="hb-tabs__toggle"><label for="1744273304-secondary" class="selected">Secondary</label></li>
            <li class="hb-tabs__toggle"><label for="1744273304-notes">Notes</label></li>
            <li class="hb-tabs__toggle"><label for="1744273304-other">Other</label></li>
        </ul>
    </div><!--
    --><div class="hb-tabs__content">
        <input type="radio" name="1744273304[]" id="1744273304-main" value="1744273304-main" class="hb-tabs__trigger" checked="">
        <div class="hb-tab hb-tab-content hb-tabs__panel">
            <div class="sheet">
                <h2>Main</h2>
                <p>Lorem ipsum dolor sit amet, nam ea, arcu fusce adipiscing, ac sed ornare. Tristique tellus, suscipit pretium eros, diam sapien aliquam. Quia arcu lobortis, imperdiet non, vestibulum quisque elementum. Sodales faucibus suspendisse, imperdiet in metus, eleifend turpis urna. Sit cras. Pede elementum wisi, tellus pulvinar massa.</p>
            </div>
        </div>
        <input type="radio" name="1744273304[]" id="1744273304-secondary" value="1744273304-secondary" class="hb-tabs__trigger" checked="">
        <div class="hb-tab hb-tab-content hb-tabs__panel">
            <div class="sheet">
                <h2>Secondary</h2>
                <p>Ac luctus libero. Nec ut. Nonummy luctus vehicula, suscipit at, vestibulum lacus. Donec donec, nostrum arcu primis. Aliquam ligula, sapien pede cursus, lectus tristique nec.</p>
            </div>
        </div>
        <input type="radio" name="1744273304[]" id="1744273304-notes" value="1744273304-notes" class="hb-tabs__trigger" checked="">
        <div class="hb-tab hb-tab-content hb-tabs__panel">
            <div class="sheet">
                <h2>Notes</h2>
                <p>Aliquet aliquam, justo magna pellentesque, sodales mattis eu. Nunc et, risus lacinia sed, penatibus velit. Eget porttitor morbi, et in commodo. Ipsum eros ligula, nec integer, faucibus massa. Eget condimentum est.</p>
            </div>
        </div>
        <input type="radio" name="1744273304[]" id="1744273304-other" value="1744273304-other" class="hb-tabs__trigger" checked="">
        <div class="hb-tab hb-tab-content hb-tabs__panel">
            <div class="sheet">
                <h2>Other</h2>
                <p>Convallis nec, doloribus justo sodales, et id non. Fermentum diam. Dui orci. A pellentesque iaculis, donec sit a, montes sit. Aliquet rhoncus nunc.</p>
            </div>
        </div>
    </div>
</div>

<h2>Stacked</h2>

<div class="hb-tabs hb-tabs--stack jsb_ jsb_Honeybee_Core/ui/TwoTabsOnOnePageDoesntWorkAtTheMomentBecauseOfFragmentIdEndlessLoop">
    <div class="hb-tabs__header">
        <ul class="hb-tabs__toggles">
            <li class="hb-tabs__toggle"><label for="1361196304-main" class="">Main</label></li>
            <li class="hb-tabs__toggle"><label for="1361196304-secondary" class="selected">Secondary</label></li>
            <li class="hb-tabs__toggle"><label for="1361196304-notes">Notes</label></li>
            <li class="hb-tabs__toggle"><label for="1361196304-other">Other</label></li>
        </ul>
    </div><!--
    --><div class="hb-tabs__content">
        <input type="radio" name="1361196304[]" id="1361196304-main" value="1361196304-main" class="hb-tabs__trigger" checked="">
        <div class="hb-tab hb-tab-content hb-tabs__panel">
            <div class="sheet">
                <h2>Main</h2>
                <p>Lorem ipsum dolor sit amet, nam ea, arcu fusce adipiscing, ac sed ornare. Tristique tellus, suscipit pretium eros, diam sapien aliquam. Quia arcu lobortis, imperdiet non, vestibulum quisque elementum. Sodales faucibus suspendisse, imperdiet in metus, eleifend turpis urna. Sit cras. Pede elementum wisi, tellus pulvinar massa.</p>
            </div>
        </div>
        <input type="radio" name="1361196304[]" id="1361196304-secondary" value="1361196304-secondary" class="hb-tabs__trigger" checked="">
        <div class="hb-tab hb-tab-content hb-tabs__panel">
            <div class="sheet">
                <h2>Secondary</h2>
                <p>Ac luctus libero. Nec ut. Nonummy luctus vehicula, suscipit at, vestibulum lacus. Donec donec, nostrum arcu primis. Aliquam ligula, sapien pede cursus, lectus tristique nec.</p>
            </div>
        </div>
        <input type="radio" name="1361196304[]" id="1361196304-notes" value="1361196304-notes" class="hb-tabs__trigger" checked="">
        <div class="hb-tab hb-tab-content hb-tabs__panel">
            <div class="sheet">
                <h2>Notes</h2>
                <p>Aliquet aliquam, justo magna pellentesque, sodales mattis eu. Nunc et, risus lacinia sed, penatibus velit. Eget porttitor morbi, et in commodo. Ipsum eros ligula, nec integer, faucibus massa. Eget condimentum est.</p>
            </div>
        </div>
        <input type="radio" name="1361196304[]" id="1361196304-other" value="1361196304-other" class="hb-tabs__trigger" checked="">
        <div class="hb-tab hb-tab-content hb-tabs__panel">
            <div class="sheet">
                <h2>Other</h2>
                <p>Convallis nec, doloribus justo sodales, et id non. Fermentum diam. Dui orci. A pellentesque iaculis, donec sit a, montes sit. Aliquet rhoncus nunc.</p>
            </div>
        </div>
    </div>
</div>
