<style type="text/css">
.ag__toggle {
    background-color: pink;
}
.ag__more {
    background-color: gold;
}
</style>
<h3>Single inline action group with auto-width more and filled actions</h3>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
<div class="ag ag--inline ag--actions-fill">
    <input type="checkbox" id="cbag001" class="ag__trigger" />
    <label for="cbag001" class="action ag__toggle"><span>More v</span></label>
    <div class="ag__more">
        <ul>
            <li><button class="action">Delete</button></li>
            <li><button class="action">Save and New</button></li>
            <li><button class="action">Very Long Save and New</button></li>
            <li><button class="action">VeryLongSaveandNewasdfiasdfsadfsadf</button></li>
            <li><a href="#" class="action">Some Link</a></li>
            <li class="divider divider--above"><a href="#" class="action">Separated link</a></li>
        </ul>
    </div>
</div>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et

<hr />

<h3>Single inline action group with full-width more and filled actions</h3>
Lorem ipsum dolor sit amet
<div class="ag ag--inline ag--full ag--actions-fill">
    <input type="checkbox" id="cbag002" class="ag__trigger" />
    <label for="cbag002" class="action ag__toggle"><span>More v</span></label>
    <div class="ag__more">
        <ul>
            <li><button class="action">Delete</button></li>
            <li><button class="action">Save and New</button></li>
            <li><button class="action">Very Long Save and New</button></li>
            <li><button class="action">VeryLongSaveandNewasdfiasdfsadfsadf</button></li>
            <li><a href="#" class="action">Some Link</a></li>
            <li class="divider divider--above"><a href="#" class="action">Separated link</a></li>
        </ul>
    </div>
</div>
sed diam voluptua.

<hr />


<h3>Single inline action group with fitted more and filled actions</h3>
Lorem ipsum dolor sit amet
<div class="ag ag--inline ag--more-fit ag--actions-fill">
    <input type="checkbox" id="cbag003" class="ag__trigger" />
    <div class="ag__default">
        <ul>
            <li><button class="action">Speichern</button></li>
        </ul>
    </div>
    <label for="cbag003" class="action ag__toggle"><span>More v</span></label>
    <div class="ag__more">
        <ul>
            <li><button class="action">Delete</button></li>
            <li><button class="action">Save and New</button></li>
            <li><button class="action">Very Long Save and New</button></li>
            <li><button class="action">VeryLongSaveandNewasdfiasdfsadfsadf</button></li>
            <li><a href="#" class="action">Some Link</a></li>
            <li class="divider divider--above"><a href="#" class="action">Separated link</a></li>
        </ul>
    </div>
</div>
sed diam voluptua.


<hr />


<h3>Multi inline action group with fitted dropup more and filled actions with centered text</h3>
Lorem ipsum dolor sit amet
<div class="ag ag--inline ag--more-fit ag--more-up ag--actions-fill ag--actions-center">
    <input type="checkbox" id="cbag004" class="ag__trigger" />
    <div class="ag__default">
        <ul>
            <li><button class="action">Speichern</button></li>
            <li><button class="action">Speichern und Neu</button></li>
            <li><button class="action">Vorschau</button></li>
        </ul>
    </div>
    <label for="cbag004" class="action ag__toggle"><span>More v</span></label>
    <div class="ag__more">
        <ul>
            <li><button class="action">Delete</button></li>
            <li><button class="action">Save and New</button></li>
            <li><button class="action">Very Long Save and New</button></li>
            <li><button class="action">VeryLongSaveandNewasdfiasdfsadfsadf</button></li>
            <li><a href="#" class="action">Some Link</a></li>
            <li class="divider divider--above"><a href="#" class="action">Separated link</a></li>
        </ul>
    </div>
</div>
sed diam voluptua.

<hr />

<h3>Multi inline action group with inline more actions</h3>
Lorem ipsum dolor sit amet
<div class="ag ag--inline ag--actions-inline"> <!-- try "ag--full" or "ag--more-actions-inline" -->
    <input type="checkbox" id="cbag005" class="ag__trigger" />
    <div class="ag__default">
        <ul>
            <li><button class="action">Speichern</button></li>
            <li><button class="action">Speichern und Neu</button></li>
            <li><button class="action">Vorschau</button></li>
        </ul>
    </div>
    <label for="cbag005" class="action ag__toggle"><span>More v</span></label>
    <div class="ag__more">
        <ul>
            <li><button class="action">Delete</button></li>
            <li><button class="action">Save and New</button></li>
            <li><button class="action">Very Long Save and New</button></li>
            <li><button class="action">VeryLongSaveandNewasdfiasdfsadfsadf</button></li>
            <li><a href="#" class="action">Some Link</a></li>
            <li class="divider divider--above"><a href="#" class="action">Separated link</a></li>
        </ul>
    </div>
</div>
sed diam voluptua.


<hr />


<h3>Default action group with full width actions and custom container width</h3>
Lorem ipsum dolor sit amet
<div class="ag ag--actions-fill" style="width: 500px">
    <input type="checkbox" id="cbag006" class="ag__trigger" />
    <div class="ag__default">
        <ul>
            <li><button class="action">Speichern</button></li>
            <li><button class="action text--right">Speichern und Neu</button></li>
            <li><button class="action">Vorschau</button></li>
        </ul>
    </div>
    <label for="cbag006" class="action ag__toggle">More v</label>
    <div class="ag__more">
        <ul>
            <li><button class="action">Delete</button></li>
            <li><button class="action">Save and New</button></li>
            <li><button class="action text--left">Very Long Save and New</button></li>
            <li><button class="action">VeryLongSaveandNewasdfiasdfsadfsadf</button></li>
            <li><a href="#" class="action">Some Link as action</a></li>
            <li class="divider divider--above">
                <div class="action">
                    <h3>asdfasdf</h3>
                    <p>asfd safd sadf sadf <a href="#">Separated link</a> asdf sadf sdaf</p>
                </div>
            </li>
        </ul>
    </div>
</div>
sed diam voluptua.


<hr />


<h3>Multi action group with full width default and more actions (with centered text)</h3>
Lorem ipsum dolor sit amet
<div class="ag ag--more-inline ag--actions-fill ag--actions-center">
    <input type="checkbox" id="cbag007" class="ag__trigger" />
    <div class="ag__default">
        <ul>
            <li><button class="action">Speichern</button></li>
            <li><button class="action text--right">Speichern und Neu</button></li>
            <li><button class="action">Vorschau</button></li>
        </ul>
    </div>
    <label for="cbag007" class="action ag__toggle">More v</label>
    <div class="ag__more">
        <ul>
            <li><button class="action">Delete</button></li>
            <li><button class="action">Save and New</button></li>
            <li><button class="action text--left">Very Long Save and New</button></li>
            <li><button class="action">VeryLongSaveandNewasdfiasdfsadfsadf</button></li>
            <li><a href="#" class="action">Some Link as action</a></li>
            <li class="divider divider--above">
                <div class="action">
                    <h3>asdfasdf</h3>
                    <p>asfd safd sadf sadf <a href="#">Separated link</a> asdf sadf sdaf</p>
                </div>
            </li>
        </ul>
    </div>
</div>
sed diam voluptua.


<hr />


<h3>Multi action group with inline more actions</h3>
Lorem ipsum dolor sit amet
    <div class="ag ag--actions-inline">
        <input type="checkbox" id="cbag008" class="ag__trigger" />
        <div class="ag__default">
            <ul>
                <li><button class="action">Speichern</button></li>
                <li><button class="action">Speichern und Neu</button></li>
                <li><button class="action">Vorschau</button></li>
            </ul>
        </div>
        <label for="cbag008" class="action ag__toggle">More v</label>
        <div class="ag__more">
            <ul>
                <li><button class="action">Delete</button></li>
                <li><button class="action">Save and New</button></li>
                <li><button class="action">Very Long Save and New</button></li>
                <li><button class="action">VeryLongSaveandNewasdfiasdfsadfsadf</button></li>
                <li><a href="#" class="action">Some Link</a></li>
                <li class="divider divider--above"><a href="#" class="action">Separated link</a></li>
            </ul>
        </div>
    </div>
sed diam voluptua.

    <hr />
